[2021-02-15 19:14] #1535 closed

[2021-02-15 19:25] yourslab commented on #1537
You can create separate MQTT contexts with the same `TransportInterface_t` but different `MQTTFixedBuffer_t`. For each thread, use a different context. The reason for doing so is that `MQTTFixedBuffer_t` will be populated with MQTT messages to be sent or received. Suppose you are about to send data but then you receive data right before sending, the data about to be sent will become garbage. You c

[2021-02-16 13:14] alozach commented on #1537
It was indeed a thread problem, everything works fine now, thank you!

[2021-02-16 13:14] #1537 closed

[2021-02-18 05:10] vikivivi opened #1546 "Invalid web link for enhanced-custom-auth-using.html"
In the `main` branch, the following web link found in demo source code is no longer valid.
https://docs.aws.amazon.com/iot/latest/developerguide/enhanced-custom-auth-using.html

Is this the correct link?
https://docs.aws.amazon.com/iot/latest/developerguide/custom-auth.html

[code]
[code]

[2021-02-18 05:15] abhidixi11 commented on #1546
Hello @vikivivi ,
Thanks for pointing it out.
https://docs.aws.amazon.com/iot/latest/developerguide/custom-auth.html
Looks like the correct link to me. We will update it soon.
Thanks!

[2021-02-18 11:09] vikivivi commented on #1546
Hello @abhidixi11 ,
Beside the above link, you might also want to check the following link as well.
https://docs.aws.amazon.com/iot/latest/developerguide/enhanced-custom-authentication.html

[code]

[2021-02-24 20:44] leegeth commented on #1546
@vikivivi,

Thank you bringing this issue to our attention. We have merged a PR #1552 to address the issues you brought up. Please let us know if you have any further questions or concerns.

[2021-02-25 02:10] vikivivi commented on #1546
Sorry @leegeth , this link in `demos` is still broken. The other 2 broken links are fixed. Thank you.
https://docs.aws.amazon.com/iot/latest/developerguide/enhanced-custom-auth-using.html
[code]

[2021-02-25 08:37] 15926273249 commented on #85
Hello JiChun,
  CC    test_suite_pkcs1_v15.c
make[2]: Leaving directory '/opt/nvidia/deepstream/deepstream-5.0/sources/libs/aws_protocol_adaptor/aws-iot-sdk/external_libs/mbedTLS/mbedtls/tests'
make[2]: Entering directory '/opt/nvidia/deepstream/deepstream-5.0/sources/libs/aws_protocol_adaptor/aws-iot-sdk/external_libs/mbedTLS/mbedtls'
make[2]: Leaving directory '/opt/nvidia/deepstream/deepstream-

[2021-02-26 00:51] vikivivi commented on #1546
Thank you @leegeth

[2021-02-26 00:51] #1546 closed

[2021-03-02 05:48] vijayrakesh13 opened #1573 "Event callback function not invoking in infinite loop"
Hi,

EventCallback( ) function is not invoking while running code in an infinite loop in shadow demo example application. I had modified application such a way that after subscribing to the delta topic I'm running application in infinite loop (while(1)) to receive delta update at anytime, but eventCallback( ) is not getting invoked. If I re-ran my application, before going into the infinite loop I

[2021-03-02 18:14] lundinc2 commented on #1573
Hi @vijayrakesh13,

I am investigating this issue and will get back to you with more details.

[2021-03-02 18:55] aggarw13 commented on #1573
Hi @vijayrakesh13,

 For your application to receive an incoming MQTT from the `/update/delta` topic (and thereby, invoke the `eventCallback` callback), the state of the shadow document needs to change on your AWS account through publishing of the desired state (done [here](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/shadow/shadow_demo_main/shadow_demo_main.c#L796-L822) in

[2021-03-03 05:19] vijayrakesh13 commented on #1573
Hi @aggarw13,

Every time I ran my application I had made sure delta exists. I'm changing shadow variables from AWS console to create delta. Everything works fine when I run (subscribe `update/delta/ -> sleep(10) (creating delta from AWS console) -> `eventCallback` ), but not in infinite loop (subscribe `update/delta/ -> while(1) (creating delta from AWS console) -> no callback )

Code attached [R

[2021-03-04 00:36] aggarw13 commented on #1573
Hi @vijayrakesh13,

 Thank you for sharing your application code structure and clarifying about the setup on the AWS console.

  For the `eventCallback` to be invoked, the `MQTT_ProcessLoop` function of the coreMQTT library needs has to be called as the `MQTT_ProcessLoop` function performs the read operations on the network to receive incoming MQTT messages.
 Within the Shadow demo, the `MQTT_Proc

[2021-03-04 06:06] justin8 opened #1578 "SDK Size and requirements"
Hey,

I'm trying to figure out what the minimum requirements are to run the device SDK, mostly in terms of NAND/ROM/disk size requirements and memory requirements, but also CPU requirements. The documentation, SDK source and other sources don't seem to have any clear guidance on this. I imagine in terms of CPU it needs to be fast enough to effectively handle mutual TLS for example.

Even a vague l

[2021-03-04 13:19] vijayrakesh13 commented on #1573
Hi @aggarw13,

Thank you!

[2021-03-04 13:19] #1573 closed

[2021-03-05 01:23] justin8 commented on #1578
I found that this is available for the embedded C SDK in the generated API docs, e.g. for shadow service: https://docs.aws.amazon.com/embedded-csdk/202103.00/lib-ref/libraries/aws/device-shadow-for-aws-iot-embedded-sdk/docs/doxygen/output/html/index.html

[2021-03-05 01:23] #1578 closed

[2021-03-08 09:57] mukesh-2538 opened #1579 "CROSS COMPILE MQTT"
Can anyone provide me the instructions to Cross compile CoreMQTT Library and MQTT demos for ARM platform?

[2021-03-08 17:52] aggarw13 commented on #1579
Hi @mukesh-2538, Cmake supports specifying the cross-compiler toolchain through the [`CMAKE_TOOLCHAIN_FILE`](https://cmake.org/cmake/help/v3.2/variable/CMAKE_TOOLCHAIN_FILE.html) variable that you can pass in the Cmake configuration command (as `cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=<path/to/toolchain/file>.cmake`).
An example toolchain file can be seen in the CMake documentation [here](https

[2021-03-09 06:43] awsa2ron opened #1580 "How use mbedtls instead of openssl for mqtt_demo_mutual_auth demo?"
Can I use mbedtls instead of openssl for mqtt_demo_mutual_auth demo?
Thanks.

[2021-03-09 08:04] mukesh-2538 commented on #1579
I am getting the following error.
[code]

[2021-03-09 08:14] mukund-electronics opened #1581 "Library Version not updated"
Library Version not updated include/aws_iot_version.h

 */
#ifndef SRC_UTILS_AWS_IOT_VERSION_H_
#define SRC_UTILS_AWS_IOT_VERSION_H_

/**
 * @brief MAJOR version, incremented when incompatible API changes are made.
 */
#define VERSION_MAJOR 3
/**
 * @brief MINOR version when functionality is added in a backwards-compatible manner.
 */
#define VERSION_MINOR 0
/**
 * @brief PATCH version when backwa

[2021-03-09 13:27] rpcme opened #1583 "Update MQTT client ID for all MQTT demos via Cmake"
Instead of having -DTHING_NAME cmake property to update the thing name for a subset of MQTT related demos, use -DCLIENT_ID property to change this value for all demos.

There are three reasons, and possibly more.
1. The change aligns the demos with best practice for the AWS IoT thing name to match the MQTT Client ID.
2. The change makes life easier for developers needing to modify the client id fo

[2021-03-09 14:00] rpcme opened #1584 "Emit configurable options to demo output"
It is useful to emit configurable options to standard output so the individual running the demo knows which options have been consumed by the build process.  For example, if the individual running the demo requires a specific client id, the individual cannot verify that the configuration has been made at runtime.

Specifically, I am running the mqtt_demo_mutual_auth demonstration and have changed

[2021-03-09 14:51] mukesh-2538 opened #1585 "How to add a custom include path in the CMAKE file?"
I am cross-compiling for aarch64 platform using a different toolchain.
I have cross-compiled for openssl for the specific platform.

**I built the SDK using the command:**
[code]

**Contents of myown.cmake :**
[code]
**Cmake ran successfully and after this i ran the following inside build directory** :
[code]

**The error i am facing is**
[code]

It seems the toolchain does not have the required h

[2021-03-09 23:54] dan4thewin commented on #1581
Hi, @mukund-electronics .
I can't seem to locate this file.  I'm wondering if this comes from before we adopted the date-based versioning scheme for the C SDK, or before we switched to using main as our default branch.

[2021-03-10 02:06] dan4thewin commented on #1585
OpenSSL is a dependency to build the TLS-using demos for Linux/POSIX type systems.  When building for FreeRTOS, mbedTLS is used instead, or perhaps WolfSSL.  If you only want to run something like the plaintext MQTT demo, then you don't need TLS.  Since you're cross compiling, I suspect you'll either need to build a TLS from source, or install dev packages for your target (or perhaps it's included

[2021-03-10 04:21] mukund-electronics commented on #1581
For example, in the sample

[2021-03-10 06:41] Abhi2109 opened #1586 "Enquiry about C SDK for Windows"
Hi,
I was wondering if by any ways do we have support for Windows platform for C SDK or only Linux?

[2021-03-10 06:58] vikivivi commented on #1585
@mukesh-2538 For cross compilation, it is not so simple to just include openssl directory.

The correct method is trying to get cmake to pass `--sysroot` flag to the GCC cross compiler.
Logically, any project `CMakeLists.txt` does not required any changes if it is correctly written.

Most of the configuration should be done in  `CMAKE_TOOLCHAIN_FILE`. It should include many more parameters. You mi

[2021-03-11 03:34] yourslab commented on #1586
It is possible to compile the SDK by using [Cygwin](https://cygwin.com/). It is not officially supported, but you would be able to build any demo from the SDK as a Windows executable. Theoretically, it should be possible to create a native Windows port by providing [platform code in the following directory for Windows](https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/platform).

[2021-03-11 05:50] mukesh-2538 opened #1587 "SSL_connect failed to perform TLS handshake"
**I am using the mqtt_demo_mutual_auth demo code to connect to aws-iot core.**

I have two setups:

-  *build server    --     ubuntu 16.04                  intel x64*
-  *custom board --   Linux-linaro-toolchain     aarch64*

Both the setups are in the same network.
**Steps followed -**

1. Created a thing in AWS. Download the certificate, private and public key.
2.  Activate the keys and attach

[2021-03-11 05:56] #1585 closed

[2021-03-11 07:58] yourslab commented on #1587
Can you change this line https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/platform/posix/transport/include/openssl_posix.h#L45 to the following:
[code]

This will provide more insight as to why the TLS handshake is failing. One possible reason that I've seen with others is that the clock is not correctly set to the right time.

[2021-03-11 09:00] mukesh-2538 commented on #1587
**After enabling LOG_DEBUG**
[code]
---------------------------------------------------------------------------------------------------------------------------------------------
**The clock on the custom board is correct. Shows the correct PST time.**
---------------------------------------------------------------------------------------------------------------------------------------------
**Trie

[2021-03-11 19:56] yourslab commented on #1587
The maximum TLS fragment length for IoT Core is 8K, so the MTU should be greater than 1500. Have you tried increasing the timeout specified here?
https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/mqtt/mqtt_demo_mutual_auth/mqtt_demo_mutual_auth.c#L266

[2021-03-12 04:06] vikivivi opened #1588 "declared without an initial value. see mqttSubscribe() in ota_demo"
* The following 2 files has risk of comparing with undefined value.
  * `demos/ota/ota_demo_core_mqtt/ota_demo_core_mqtt.c`
    * function: `static OtaMqttStatus_t mqttSubscribe()`
  * `demos/ota/ota_demo_core_http/ota_demo_core_http.c`
    * function: `static OtaMqttStatus_t mqttSubscribe()`

* My comments are inline with the below code.
* git branch: main branch with commit hash 0f23637ad68ce33a

[2021-03-12 04:41] mukesh-2538 commented on #1587
@yourslab Its an issue with my network. I tried it from a board outside the network and it can connect to the iot_core. Thanks for the inputs.

[2021-03-12 04:41] #1587 closed

[2021-03-12 19:29] aggarw13 commented on #1581
Hi @mukund-electronics

1. Thank you for sharing the links and pointing out the issue. The files you have shared belong to the v3.x series of the SDK, We will make sure to update the version in the tag we create for the v3 SDK series.  🙂

2. The date-based versioning is not valid for the v3.x series of the SDK. We started using date-based versioning only from the [202009.00](https://github.com/aws

[2021-03-15 09:16] vijayrakesh13 opened #1592 "Assertion `globalSubscribePacketIdentifier == packetIdentifier' failed`"
Hi,

Some times I get an error as `shadow_demo_helpers.c:503: HandleOtherIncomingPacket: Assertion 'globalSubscribePacketIdentifier == packetIdentifier' failed` which results in exiting my application. After subscribing to a few topics I'm calling `receiveSingleIteration(&mqttContext, 100, true)` in while loop to receive mqtt messages. How to avoid above error?

Thanks & Regards,
Vijay Rakesh

[2021-03-15 20:45] pvyawaha commented on #1588
Thank you for reporting this , the fix for this is merged https://github.com/aws/aws-iot-device-sdk-embedded-C/pull/1593. Closing the issue now, please reopen for same topic or create a new one for other.

[2021-03-15 20:45] #1588 closed

[2021-03-16 13:13] vikivivi opened #1595 "Potential of pthread_join( threadHandle, NULL ) with invalid threadHandle"
* Potential of `pthread_join( threadHandle, NULL )` with invalid `threadHandle`.
* The following 2 files have potential of `pthread_join()` with invalid thread identifier.
  * `demos/ota/ota_demo_core_mqtt/ota_demo_core_mqtt.c`
    * function: `static int startOTADemo( void )`
  * `demos/ota/ota_demo_core_http/ota_demo_core_http.c`
    * function: `static int startOTADemo( void )`

* My comments a

[2021-03-16 16:47] yourslab commented on #1592
Hi Vijay,

Can you please try increasing the value of this macro?
https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/shadow/shadow_demo_main/shadow_demo_helpers.c#L150

[2021-03-17 06:56] mukesh-2538 opened #1597 "Not able to receive incoming publish packet in MQTT_mutual_auth demo."
I am using mqtt_mutual_auth demo to subcriber to a topic and listen to incoming messages. I am using C SDK for subcribing and python SDK for publishing the messages.

**Subcriber code**
[code]

**Publisher Code**
[code]

OUTPUTS:
**Subscriber is started first.  Publisher is ran after 10 seconds.**
![image](https://user-images.githubusercontent.com/68813288/111426321-80848500-871a-11eb-86d0-fa926b2

[2021-03-17 08:25] mukesh-2538 commented on #1597
I figured the issue. My understanding was that the "eventcallback" is trigger automatically when the application receives a incoming message. But it seems MQTT_Processloop triggers the eventcallback.

[2021-03-17 08:25] #1597 closed

[2021-03-17 09:41] vijayrakesh13 commented on #1592
Hi @yourslab,

Increased to 2s, but Is there any recommended value?

[2021-03-17 15:00] yourslab commented on #1592
It will always change depending on your latency to AWS IoT Core. You may have to use a larger value the farther you are from the AWS region.

[2021-03-18 05:13] vijayrakesh13 commented on #1592
Ok, thank you. Just for conformation, subscribing to job topics within shadow demo example application will not raise `globalSubscribePacketIdentifier == packetIdentifier` error, right?

[2021-03-18 15:56] pvyawaha commented on #1595
Thank you for reporting this, we are working on adding a check.

[2021-03-18 16:20] beewoolie opened #1598 "Building the documentation and then copying the output to another location fails"
Per the documentation:

`python3 tools/doxygen/generate_docs.py`

should build the documentation, which it does.  Then, copying 'docs/doxygen/output/html' to another location doesn't yield a working documentation tree.  There are hard-coded paths starting with /library/

[2021-03-18 16:43] yourslab commented on #1592
It can occur if you receive the SUBACK of an earlier subscription attempt. It would be ideal to wait for the SUBACK of the current subscription attempt before moving on to the next.

[2021-03-19 05:43] mukesh-2538 commented on #1537
@alozach how did you solve the issue?

[2021-03-19 08:53] alozach commented on #1537
@mukesh-2538  I had a separate thread calling `MQTT_ProcessLoop` in a loop, I solved the issue it calling `MQTT_Subscribe` in this thread, and ensuring this thread has been stopped before calling again `MQTT_Connect` or other SDK functions after a disconnection

[2021-03-19 11:40] vijayrakesh13 commented on #1592
Thank you! @yourslab

[2021-03-19 11:40] #1592 closed

[2021-03-19 21:05] yourslab commented on #1583
The pull request to fix this issue has been merged

[2021-03-19 21:05] #1583 closed

[2021-03-19 21:06] yourslab commented on #1584
The pull request to fix this issue has been merged.
New output is as follows:
[code]

[2021-03-19 21:06] #1584 closed

[2021-03-19 21:07] jcracine-cimeq opened #1600 "Questions on how to use MQTT lib in a C++ Object Oriented approach."
Hello,
For the last couple of days I've been working on trying to make a C++ wrapper to use in the project I'm currently on. I'm quite familiar with mosquitto's C++ wrapper so I've worked with MQTT libs a little. I've read the basic demo, but as I'm coding the wrapper, I have a hard time to properly code the whole subscription/unsubscription sections and the event callback because I don't quite gr

[2021-03-20 10:16] awsa2ron commented on #1580
Cool, thanks!

[2021-03-20 10:16] #1580 closed

[2021-03-22 04:48] lpbittoo opened #1601 "Error while doing cmake"
[root@localhost aws-iot-device-sdk-embedded-C-main]# cmake -S. -Bbuild && cd build
CMake Error: The source directory "" does not exist.
Specify --help for usage, or press the help button on the CMake GUI.

[2021-03-22 05:17] ravibhagavandas commented on #1598
Hi @beewoolie

To copy over the doxygen output to a different location, you can run the tool with the option `--zip` or `-z` as shown here:
https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/tools/doxygen#generate-doxygen-zipfile

The option will generate a zip file (provided that the doxygen runs without any warnings) named `doxygen.zip` in the directory where the tool is run.

You ca

[2021-03-22 16:39] #1595 closed

[2021-03-22 18:47] ravibhagavandas commented on #1601
Hi @lpbittoo,
Could you tell what version of cmake is used and on which platform (Linux/Windows/MACOS) are you building ?

Please note that the repo requires cmake version 3.2.0 or higher and as of now, only building on linux is supported.

[2021-03-22 21:55] leegeth commented on #1600
Hi @jcracine-cimeq,

Thank you for bringing this question to our attention.  From your question, I assume that you are referring to the mqtt_demo_basic_tls. Please let us know if that is not the demo you are referring to.

With the above assumption, please find my answers to the question below.
This demo uses a single thread for the application. For example, in the demo for the subscriptions, the

[2021-03-23 01:59] vikivivi commented on #1601
@lpbittoo

Have you change directory into the source code directory before you run cmake ? The first 5 lines of file CMakeLists.txt from source code directory is shown.
[code]
[code]

[2021-03-23 15:21] jcracine-cimeq commented on #1600
Hi @leegeth,
This is indeed the demo I was talking about. Thank you for taking the time to answer my questions.

1. I understand better the role of the packetIdentifier now.
2. Ok, so in the case that there is more than one topic for subscription, globalSubAckStatus would need to be able to contain all of the status for each individual topic if I understood correctly.

[2021-03-23 16:55] leegeth commented on #1600
@jcracine-cimeq

Thanks for your quick response. If there are a multiple topics in the SUBSCRIBE packet, a return code for each will be received in the same order as that of the topics sent in SUBSCRIBE packet. Please refer to the [MQTT 3.1.1 specification for the SUBACK packet](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718068) here for more details about the return

[2021-03-23 19:31] jcracine-cimeq commented on #1600
This answered my questions. So I'm all good for the moment. Thank you for the support.

[2021-03-23 19:31] #1600 closed

[2021-03-24 15:28] deepsworld opened #1604 "Fleet Provisioning with Latest C SDK"
I am not able to find any provisioning related demos or APIs in the latest tag. However, I did find the API with source code in the v4_deprecated branch. Please provide your feedback on the below questions:

Is there any alternatives that I can use in the latest tag?

Do you think it is feasible to port that API to current version?

Any other suggestion on fleet provisioning with C?

[2021-03-24 19:02] aggarw13 commented on #1604
Hi @deepsworld, thank you for enquiry about a Fleet Provisioning library in the latest C-SDK.
Yes, currently, there does not exist a library for the Fleet Provisioning library in the latest C-SDK `main` branch or releases from [202009.00](https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/202009.00) onwards.

The Fleet Provisioning library in the `v4_beta_deprecated` branch is based on an o

[2021-03-24 21:15] muneebahmed10 commented on #1601
Hi @lpbittoo

What version of `cmake` are you using? Can you try updating it?

Additionally, you shouldn't need to run CMake as root, the projects in this repository can be configured without needing root permissions.

[2021-03-24 22:49] muneebahmed10 commented on #1586
Hi @Abhi2109,

Did the [above](https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/1586#issuecomment-796416228) response answer your query? We will close this issue if we do no hear back from you.

Thanks

[2021-03-26 08:31] una801 opened #1606 "How Can I crosscompile ARM?"
Crosscompile via arm-linux-gnueabi-gcc must be performed to place sdk in the device. I don't know how to cross-compile the certificate and Cmake and make.
How do I cross compile with gnueabi?

[2021-03-26 19:31] jcracine-cimeq opened #1607 "MQTT_Connect always returns MQTTRecvFailed"
Hi,
Currently using the SDK in a C++ application and I've taken examples from the `mqtt_demo_basic_tls` demos. So I coded a basic C++ wrapper from that. Everything was fine until I tested the communication to the AWS IoT Core. I've setted up the certificates and everything, but I always receive the same error: MQTTRecvFailed. I've upped the logging level to Debug, but this is all I get.

I've sear

[2021-03-26 20:52] muneebahmed10 commented on #1606
Hi @una801,

The libraries that are part of the C SDK are able to be compiled by any ISO C 89 compiler. However, the demos and platform implementations in this repository are specific to POSIX, so may not build on systems that are not (mostly) POSIX-compliant.

To build an application for another platform, the [demos](https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/demos) in this re

[2021-03-26 21:10] muneebahmed10 commented on #1607
Hi @jcracine-cimeq,

The MQTT Basic TLS demo is not designed to be used with AWS IoT Core as it uses QoS 2 publishes and does not use mutual authentication. Please use the [MQTT Mutual Auth demo](https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/demos/mqtt/mqtt_demo_mutual_auth) to connect to AWS IoT Core.

Additionally, from your log output the connection is disconnected after sendin

[2021-03-26 22:01] jcracine-cimeq commented on #1607
Ok I've read the `mqtt_demo_mutual_auth` file and the main differences between it and the previous one was the use of certificates when connecting to the broker and using the metric string as the username with MQTT_Connect(). I already placed the certificates paths correctly, but I wasn't using the metric string. Even after adding it, I still had the same errors. Here it just to be sure I wrote it

[2021-03-27 03:43] una801 commented on #1606
Thank you for your answer.
It's a bit difficult to talk about, so if you're a POSIX-compatible device, specify the path to cmake (e.g., export CC = arm-linux-gnueabi-gcc).
Are you saying that if you run cmake and make it successful, you can cross compile?

[2021-03-27 05:44] una801 commented on #1606
export | grep "arm"
declare -x AR="arm-linux-gnueabi-ar"
declare -x CC="arm-linux-gnueabi-gcc"
declare -x CXX="arm-linux-gnueabi-g++"
declare -x LD="arm-linux-gnueabi-ld"

`-- The C compiler identification is GNU 9.3.0
-- Check for working C compiler: /usr/bin/arm-linux-gnueabi-gcc
-- Check for working C compiler: /usr/bin/arm-linux-gnueabi-gcc -- works
-- Detecting C compiler ABI info
-- Detectin

[2021-03-29 15:50] jcracine-cimeq commented on #1607
Update: I finally got it to work. As you said, I started looking into the policies and that was the cause. It hadn't been set properly and my certificate wasn't activated, so no wonder it wasn't working.

[2021-03-29 15:50] #1607 closed

[2021-03-30 21:12] zlhk100 opened #1609 "How to configure TLS mutual authentication using PKCS11 engine"
Hi Experts,

We develop security IOT solution using AWS IOT embedded C SDK to create TLS secure connection for MQTT and HTTPS.  TLS mutual authentication is used right now.  Unfortunately current SDK high level APIs take openssl credentials from Linux file as following code sequence.     How can we configure AWS SDK/openssl to use PKCS11 engine to access openssl credentials stored on PKCS11 based

[2021-03-30 21:41] muneebahmed10 commented on #1606
Hi @una801,

Those errors are from CMake being unable to find librt, which is used for the multithreaded http download demo and the OTA demos. The other demo targets are still able to be built in such a situation.

The demos in this repository are all POSIX or Linux-specific, and though we have compiled for both x64 and ARM, we have not tried cross compiling from different architectures, so I can

[2021-03-31 03:32] ncohen17 opened #1610 "Fleet provisioning demo"
Hi,

I wanted to know if there is a plan in the roadmap to add the fleet provisioning demo to the Embedded C SDK as it has been in the previous version of the SDK but was deprecated for some reason.

What are the current options in order to achieve the fleet provisioning feature using this C SDK ?

[2021-03-31 03:33] #1610 closed

[2021-03-31 08:10] una801 commented on #1606
`cmake .. -DOPENSSL_INCLUDE_DIR=/home/youna/tm2sdk/sysroots/armv7a-vfp-neon-oe-linux-gnueabi/usr/include/openssl -DOPENSSL_LIBRARIES=/home/youna/tm2sdk/sysroots/armv7a-vfp-neon-oe-linux-gnueabi/usr/lib -DOPENSSL_CRYPTO_LIBRARY=/home/youna/tm2sdk/sysroots/armv7a-vfp-neon-oe-linux-gnueabi/usr/lib/libcrypt.so -DOPENSSL_SSL_LIBRARY=/home/youna/tm2sdk/sysroots/armv7a-vfp-neon-oe-linux-gnueabi/usr/lib/l

[2021-03-31 13:43] zlhk100 commented on #1609
Any comments?   Thank you!

[2021-03-31 22:00] paulbartell commented on #1609
@zlhk100 : The CSDK does not currently have openssl engine support. You will need to modify the code a bit to accomplish this.

You'll need the [libp11](https://github.com/OpenSC/libp11) openssl engine, which will allow you to use openssl to perform public/private key operations using your HSM, while symmetric crypto operations will still occur using the

Locate the relevant pkcs11 shared library

[2021-03-31 23:34] zlhk100 commented on #1609
Thanks @paulbartell for detailed reference code and information.  Totally make sense and will try the approach in our prototype.

More questions in same area:
       1>  In our use cases,  IOT devices will maintain multiple mutual-authN TLS connections on different ports using AWS CSDK.  1st TLS to AWS hosted MQTT broker on port 8883,  2nd TLS to proprietary service running out of local machine on

[2021-04-01 00:11] paulbartell commented on #1609
This should be fully supported. You will need to allocate a separate openssl context for each connection. This means a separate call to Openssl_Connect and a separate NetworkContext_t for each TLS connection.

This library is intended primarily for devices that act as TCP clients, so listening on a socket is not supported by the API. Implementing this with the normal openssl  and linux socket api

[2021-04-01 06:38] una801 opened #1611 "libopenssl_posix.so: undefined symbol: TLS_client_method"
hi.
I crosscompile to put the AWS C SDK on the ARM board.
These errors occur when you insert the compiled executable into the board and run it.
openssl version is OpenSSL 1.0.2h 3 May 2016 It
I don't know what caused the error.
The compilation was already successful with this version of openssl, so I don't know why this error occurs.
When I did cmake, I erased the rt library file part from the cma

[2021-04-01 10:08] vikivivi commented on #1606
This message is quite common, normally it is OK. I seen it in my system when building for PC as well cross-compile for Raspberry Pi.

You need to check why your ARM target sysroot filesystem does not contain `librt`.
A search on my Raspberry Pi target sysroot filesystem do have `librt` and it should belong to `libc6-dev` package.
[code]
[code]

If you can identify which demo application is causing

[2021-04-01 11:01] vikivivi commented on #1611
I can see similar behaviour if my Raspberry Pi target sysroot filesystem is installed with `libssl1.0-dev_1.0.2q-2_armhf.deb` and `libssl1.0.2_1.0.2q-2_armhf.deb`

Try to use a newer OpenSSL v1.1.1. This problems goes away when my Raspberry Pi target sysroot filesystem is installed with `libssl1.1_1.1.1d-0+deb10u6+rpt1_armhf.deb` and `libssl-dev_1.1.1d-0+deb10u6+rpt1_armhf.deb`. Perform grep on yo

[2021-04-01 14:12] zlhk100 commented on #1609
Much appreciated @paulbartell for accurately answering my questions.    Have a great day,   Lei

[2021-04-01 14:12] #1609 closed

[2021-04-01 20:28] yourslab commented on #1611
Yes, as @vikivivi mentioned, `TLS_client_method` is only defined is OpenSSL 1.1 or later. You can, however, substitute the call with one of the equivalent functions from 1.0.2:
https://www.openssl.org/docs/man1.0.2/man3/SSLv3_method.html

[2021-04-02 01:04] ncohen17 opened #1612 "AWS IoT Jobs VS OTA Agent"
Hi,
I wanted to know what is the difference between the AWS IoT Jobs and OTA Update Agent examples demo provided in this repo ?

Jobs:
https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/demos/jobs/jobs_demo_mosquitto

OTA:
https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/demos/ota

[2021-04-02 02:47] una801 commented on #1606
Thank you.
As you said, I moved the librt file from the current openssl library path to /lib and it was compiled without error!

[2021-04-02 02:51] una801 commented on #1611
TLS_Client_Method()
Referring to the link you sent us, we changed it to TLSv1_client_method or TLSv1_2_client_method.

The symbol error doesn't come up.

`[INFO] [DEMO] [mqtt_demo_mutual_auth.c:628] Establishing a TLS session to a1pybjm6f2tb2x-ats.iot.ap-northeast-2.amazonaws.com:8883.
[ERROR] [Transport_OpenSSL_Sockets] [openssl_posix.c:603] Creation of a new SSL_CTX object failed.
[ERROR] [Trans

[2021-04-02 05:44] una801 commented on #1611
I added SSL_Library_Init(); to a part of the openssl_posix.c file and those errors no longer occur.
(Changed TSL name)

There was only an error message saying that I couldn't connect because I didn't have a certificate, so I created a folder called certificates in the ARM device and put the certificates in it.

In doing so, these errors occur.
[code]

It also seems to be incompatible with openssl

[2021-04-02 06:12] yourslab commented on #1611
There is no similar function in 1.0.2. The function's responsibility is to perform hostname validation. If you need this functionality in 1.0.2, please refer to this link:
https://wiki.openssl.org/index.php/Hostname_validation

[2021-04-02 06:30] vikivivi commented on #1611
@una801 For your info, OpenSSL v1.0.2 is already End of Life (EOL) since December 31, 2019. There is no security fixes if vulnerabilities are found. Continue building IoT devices with EOL packages would be at risk. Just my 2 cents.

[2021-04-03 02:07] archigup commented on #1612
Hi @ncohen17,

The Jobs demo demonstrates the use of the [AWS IoT Jobs library](https://github.com/aws/Jobs-for-AWS-IoT-embedded-sdk). The library aids with using the [AWS IoT Jobs service](https://docs.aws.amazon.com/iot/latest/developerguide/iot-jobs.html) by providing functions to build and recognize the MQTT topic strings used for the Jobs service's [MQTT APIs](https://docs.aws.amazon.com/iot/

[2021-04-05 16:39] yourslab commented on #1611
Closing this issue as the original issue has been resolved. As recommended by @vikivivi, if you are expecting to use this application in production, please upgrade to 1.1.0 or above.

[2021-04-05 16:39] #1611 closed

[2021-04-05 16:39] yourslab commented on #1586
Closing this issue due to staleness

[2021-04-05 16:39] #1586 closed

[2021-04-05 20:57] archigup commented on #1601
Hi @lpbittoo, I'm resolving this issue. If you have more questions on this, please feel free to open another issue.

[2021-04-05 20:57] #1601 closed

[2021-04-05 21:22] archigup commented on #1606
Hi, as it seems this issue has been resolved, I am closing this issue. If you have further questions on this topic, feel free to open a new issue.

[2021-04-05 21:22] #1606 closed

[2021-04-05 21:30] archigup commented on #1581
Hi, I am closing this issue. If you have further questions, please feel free to open a new issue.

[2021-04-05 21:30] #1581 closed

[2021-04-05 21:33] archigup commented on #1598
Hi @beewoolie, I am resolving this issue. Feel free to open another issue if you have further questions on this topic.

[2021-04-05 21:33] #1598 closed

[2021-04-05 21:35] archigup commented on #1604
Hi @deepsworld, I am resolving this issue. Feel free to open another issue if you have further questions on this topic.

[2021-04-05 21:35] #1604 closed

[2021-04-06 09:09] pragnesh036 opened #1614 "mqtt_demo_mutual_auth damo"
I am using mqtt_demo_mutual_auth code on my stm32MP1 board.
I need to send some sensor data to AWS.
my sensor read time is 3 to 15 min.
when I send data without a sensor it's working
but when I am read the sensor data and then send data it not work

the only difference between my code and demo code is a 3 to 15 min sensor data read delay.

error log:-
[INFO] [DEMO] [mqtt_demo_mutual_auth.c:786] Es

[2021-04-07 06:12] pragnesh036 opened #1615 "how can i use aws-iot-device-sdk-embedded-C/demos/mqtt/ demo to send sensor value to AWS"
I am using STM32MP157-DK2.
I am successfully run the code of aws-iot-device-sdk-embedded-C/demos/mqtt/mqtt_demo_mutual_auth
But I need to send my sensor data to AWS using the demo code
how can I use the MQTT Demo code to send my sensor data?
any idea about this
suggest any proper way to send my sensor data to AWS

[2021-04-07 17:59] archigup commented on #1614
Hi @pragnesh036,

What keep-alive interval are you using?

Could you try to try to start a new clean session instead of reestablishing the old session?

[2021-04-09 01:12] muneebahmed10 commented on #1615
Hi @pragnesh036,

Any data you want to send to AWS can be set as the [payload of a publish packet](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/5c43daf505c8f43c0a8b39264d8ad053a59d1086/demos/mqtt/mqtt_demo_mutual_auth/mqtt_demo_mutual_auth.c#L1235) and published to AWS IoT Core. Note that whichever device or service you want to receive your data will need to be subscribed to the [topi

[2021-04-09 06:10] ClaudioBaldo opened #1616 "problem with migrating from sdk 3.0.1 to sdk 3.1.2"
I am cross compiling the sdk to be implemented on a third party hardware, and I am having some issues with the openssl library (which is installed on my building machine "openssl is already the newest version (1.1.1f-1ubuntu2.3)").
Going in order, the problem is with the compiler not finding the include files in openssl_utest.c:
#include "mock_unistd_api.h"
#include "mock_openssl_api.h"
#include "

[2021-04-09 15:45] abhidixi11 commented on #1616
Hello @ClaudioBaldo
Thanks for reaching out.
Are you using V3 CSDK or the latest SDK available?
V3 CSDK is tagged here: https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/v3.1.2 , which uses mbedTLS.
Are you porting V3 SDK to work with openSSL ?
Thanks!

[2021-04-09 20:18] yourslab commented on #1616
Is there a reason why you need to build the unit tests? Are you passing `-DBUILD_TESTS=1` to cmake?

[2021-04-09 20:50] archigup commented on #1612
Hi, closing this issue. Feel free to open a new issue if you have further questions on this topic.

[2021-04-09 20:50] #1612 closed

[2021-04-11 21:48] abhidixi11 commented on #1614
[ERROR] [DEMO] [mqtt_demo_mutual_auth.c:949] Packet id 4 requires resend, but was not found in outgoingPublishPackets.

Hello @pragnesh036  - Thanks for contacting us. As pointed out by @archigup you [can set clean session to true](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/mqtt/mqtt_demo_mutual_auth/mqtt_demo_mutual_auth.c#L1521) that should fix the problem for now.
I'm

[2021-04-12 00:12] ClaudioBaldo commented on #1616
I have been using the V3 CSDK (v3.0.1) with mbedTLS and just wanted to update to the latest, there is not real reason to port to openssl, also the target I am cross-compiling to only supports openssl v1.0.2 which may be a problem?
When checking the repository you have tagged, I see that the aws_iot_version.h shows version v3.0.1 while the repository is tagged as v3.1.2....

[2021-04-12 02:27] yourslab commented on #1616
The files you are describing in the original post only exist in 202009.00 and later. openssl_utest.c does not exist in any V3 distribution.

[2021-04-12 23:21] ClaudioBaldo commented on #1616
ok, I did clone the latest v3.1.2 for mbedTLS, is there any benefit of using the openssl instead? and if yes, is there a version which can be used with openssl v1.0.2?

[2021-04-12 23:42] yourslab commented on #1616
Not really much of an advantage. Actually, mbedTLS will likely utilize less memory than OpenSSL. Also, V3 does not support OpenSSL out of the box unless you provide your own implementation.

[2021-04-13 00:01] ClaudioBaldo commented on #1616
ok, what about the QOS2? I saw that implemented for the openssl but not for mbedTLS. MbedTLS only seems supporting QOS0 and QOS1.

[2021-04-13 01:11] abhidixi11 commented on #1616
Hello @ClaudioBaldo

MQTT QOS is independent of OpenSSL or mbedTLS. So I'm not sure what exactly you mean.
The latest CSDK (main branch / 202103.00 release) supports QOS2, is that what you were indicating ? The latest C-SDK does not have mbedTLS port, but all the libraries (coreMQTT for MQTT) are independent of any TLS stack. If you provide your transport implementation, you will able use mbedTLS.

[2021-04-13 02:09] ClaudioBaldo commented on #1616
Thanks

[2021-04-13 19:40] yourslab commented on #1616
Closing the issue. If you encounter any problems, feel free to open another.

[2021-04-13 19:40] #1616 closed

[2021-04-14 03:41] pragnesh036 commented on #1614
Thank you @abhidixi11 and @archigup for your replay.
by changing this line clientSessionPresent  to true its working
**bool clientSessionPresent = true;**

[2021-04-15 02:59] mukesh-2538 opened #1617 "Question regarding JITR/ JITP"
I am planning for JITP/ JITR  process for my iot-device produced on scale.
According to AWS documents, we have to send a CA certificate along with the device certificate when connecting to the AWS- Iot core for the first time.
![image](https://user-images.githubusercontent.com/68813288/114807660-6e9f0c00-9dc4-11eb-86b6-adc8012d345b.png)

**Does the coremqtt library send the CA certificates along w

[2021-04-15 07:05] vikivivi opened #1618 "Some S3 has migrated from digicert BaltimoreCyberTrustRoot to Amazon Trust Services"
Some S3 bucket from some of these AWS Regions (HTTPS: EU-WEST-3, EU-NORTH-1, ME-SOUTH-1, AP-NORTHEAST-3, AP-EAST-1, and US-GOV-EAST-1) has migrated from digicert BaltimoreCyberTrustRoot Root CA to use Amazon Trust Services root CA certificate (AmazonRootCA1.pem .. AmazonRootCA4.pem).

Reference:
https://aws.amazon.com/blogs/storage/reminder-amazon-s3-and-amazon-cloudfront-migrating-service-certifi

[2021-04-15 07:09] vikivivi commented on #1617
Does this help?
https://aws.amazon.com/blogs/iot/just-in-time-registration-of-device-certificates-on-aws-iot/

[2021-04-16 03:23] ClaudioBaldo commented on #1616
It would fantastic if you could consider providing a branch of this sdk for aws to work with mbedTLS right away, as this new one works with openSSL "The latest CSDK (main branch / 202103.00 release) supports QOS2, is that what you were indicating ? The latest C-SDK does not have mbedTLS port".
Understand we can change the transport layer but it would save us time if we can get this already bundled

[2021-04-16 15:14] abhidixi11 commented on #1616
Thanks for the feedback @ClaudioBaldo. We do have a port for mbedTLS in our [FreeRTOS repository](https://github.com/FreeRTOS/FreeRTOS/tree/main/FreeRTOS-Plus/Source/Application-Protocols/network_transport); which uses FreeRTOS-TCP.   Both CSDK and FreeRTOS repositories  use the exact same MQTT library.  OpenSSL is more common with Linux platforms so we have port for it here in CSDK. In future, we

[2021-04-17 06:16] #1617 closed

[2021-04-17 06:20] mukesh-2538 opened #1619 "Long Shadow messages"
I am using mqtt-mutual-auth-demo for receiving messages from a named shadow.

I am able to receive small messages, but then the shadow document is big and lots of fields, my application fails. Is there a limit on the size of message received  in the demo code?  Mqtt has a limit of 128KB but shadow document is 1KB (Shadow has a limit of 8 KB).
If the shadow messages are long it is not invoking even

[2021-04-19 09:41] boraozgen commented on #1619
Did you try increasing the network buffer size?

[2021-04-19 19:11] muneebahmed10 commented on #1619
Hi @mukesh-2538,

Can you try increasing the size of the [network buffer](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/mqtt/mqtt_demo_mutual_auth/mqtt_demo_mutual_auth.c#L124) when running the demo?

Thanks

[2021-04-19 19:24] tjeneh opened #1620 "How to generate documents with doxygen"
Hello,

I am trying to generate documentation but keep running into errors / warning saying "warning: unable to resolve reference" and  "error: Tag file 'libraries/standard/coreMQTT/docs/doxygen/output/mqtt.tag' does not exist or is not a file"

output after running "doxygen docs/doxygen/config.doxyfile"

<img width="1212" alt="Screen Shot 2021-04-19 at 2 02 35 PM" src="https://user-images.githubu

[2021-04-19 19:50] muneebahmed10 commented on #1620
Hi @tjeneh,

The doxygen in the C SDK depends on the generated tag files for each submoduled library. To generate the doxygen output for the CSDK, you have to generate it for each library first. We wrote a [Python script](https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/tools/doxygen) to do this for us, which you can invoke with
[code]
with an optional `--zip` flag to create a zipfil

[2021-04-20 18:28] mukesh-2538 commented on #1619
Thankyou, Increasing the network buffer size worked.

[2021-04-20 18:28] #1619 closed

[2021-04-20 21:13] lohenzoo opened #1622 "How can use this sdk in a STM32Cube IDE project?"
I'm working on a IOT project using AWS and a STM32f767ZI board using the STM32Cube IDE but I can't an example of how to load this sdk into the project to use it.

[2021-04-22 00:25] paulbartell commented on #1622
@lohenzoo We have an example project for the STM32f767ZI board targeting the ac6 / SW4STM32 development environment in the [amazon-freertos reference integration repository](https://github.com/aws/amazon-freertos/tree/master/projects/st/stm32l475_discovery/ac6 ).

You might try using the "import SW4STM32" option in STM32CubeIDE with one of the pre-made project files or by manually adding the .c fi

[2021-04-22 00:25] #1622 closed

[2021-04-23 05:56] Abhi2109 opened #1623 "Download file"
Hi,
I want to know can we download the file from AWS server?

[2021-04-23 23:34] paulbartell commented on #1623
@Abhi2109 Can you please clarify which file you are referring to?

[2021-04-26 04:54] Abhi2109 commented on #1623
Let's say i have uploaded any file abc.jon (Just an example) to blob or whatever storage mechanism AWS supports , afterwards if i need to download that same file from AWS repositories can i do that?

[2021-04-26 20:44] aggarw13 commented on #1623
Hi @Abhi2109, can you explain about the client platform where you want to download the file into from AWS?
If your platform represents a micro-controller based device where you are developing an application in C, you can refer to our [HTTP S3 Download demo]() for an example of downloading a file from S3.

If your platform can use a more high level language (like C++, Java, Python), you can refer t

[2021-04-26 21:24] muneebahmed10 commented on #1615
Hi @pragnesh036,

I will close this issue. Please open a new issue if you have any other questions.

Thank you

[2021-04-26 21:24] #1615 closed

[2021-04-26 22:29] sukhmanm commented on #1618
Hi @vikivivi,

Apologies for the late response -- thanks for your patience on this issue.

Thank you for notifying us about the outdated certificate references in the aforementioned HTTP demos. We are working on updating all references to the Baltimore Cybertrust Root CA to highlight the migration to ATS certificates, as well as the [Starfield Root CA certificate](https://www.amazontrust.com/repos

[2021-04-27 04:44] Abhi2109 commented on #1623
Do you can have sample code to upload the file ?

[2021-04-27 05:42] Abhi2109 commented on #1623
I am interested in C as using extern i can use same functionalities/headers for C++ as well.

[2021-04-27 06:01] mukesh-2538 opened #1625 "MQTT_ProcessLoop returned with status = MQTTRecvFailed."
I am modifying mqtt_mutual_auth demo code for my embedded application.

**TASK:**
I want to subcribe to a list of topics (Count = 10)

`mqttStatus = MQTT_Subscribe( pMqttContext,
                                 pGlobalSubscriptionList,
                                 sizeof( pGlobalSubscriptionList ) / sizeof( MQTTSubscribeInfo_t ),
                                 globalSubscribePacketIdentifie

[2021-04-27 15:29] vikivivi commented on #1618
Hi @sukhmanm,

Just a note, in case someone implementing OTA download firmware from AWS-S3. With a single invalid certificate, the OTA procedure will be dead. It is worth using multiple CA certificates (in PEM format) and concatenate them together as CA-bundle for TLS in FreeRTOS implementation.

[2021-04-28 04:38] paulbartell commented on #1623
@Abhi2109 I believe this demo is similar to what you are looking for: https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/202103.00/demos/http/http_demo_s3_upload/http_demo_s3_upload.c .

If you are running on linux, windows, or Apple OSX, you might find that the [AWS C++ SDK](https://github.com/aws/aws-sdk-cpp) and [example code](https://docs.aws.amazon.com/sdk-for-cpp/v1/developer-guide/ex

[2021-04-28 05:25] paulbartell commented on #1625
@mukesh-2538
1) There is a limit on the number of outstanding messages waiting for acknowledgement from the server in coreMQTT. It is configurable using the MQTT_STATE_ARRAY_MAX_COUNT config item. See [core_mqtt_config_default.h](https://github.com/FreeRTOS/coreMQTT/blob/main/source/include/core_mqtt_config_defaults.h) for more details.

2) You can view the AWS IoT core limits on [this page](https

[2021-04-28 05:49] Abhi2109 commented on #1623
This AWS S3 resource is a part of AWS IoT Core?

[2021-04-28 06:01] Abhi2109 commented on #1623
Ok.. I got it thanks for your help.

[2021-04-28 06:01] paulbartell commented on #1620
@tjeneh I'm going to close this issue since it has been open for over a week. Feel free to re-open the issue if you need further assistance with generating doxygen documentation.

[2021-04-28 06:01] #1620 closed

[2021-04-28 07:51] #1623 closed

[2021-04-28 14:43] HenriqueLeal2910 opened #1626 "esp32: Error(-12) connecting to axxxxxxxxxxxxx-ats.iot.us-east-2.amazonaws.com:8883"
I am following this project "https://aws.amazon.com/pt/blogs/iot/creating-object-recognition-with-espressif-esp32/",
but after upload in my Esp32 cam and following through the terminal this error always happens. Unfortunately, I don't have much knowledge, I tried to find some error during the process, but I couldn't.
I thought it was a problem in esp32, but I managed to use it in Arduino.idle and

[2021-04-29 05:27] #1625 closed

[2021-04-29 08:59] una801 opened #1627 "MQTT Session(TLS Session) Killed"
Hello
Among AWS-IoT-Embedded-C SDK, we are using IoT Core using MQTT-Mutual-auth.

I added the parts I wanted to send to the Publish section and reduced the delay time.

In about 10 minutes, Killed pops up in TLS Session connection during Mqtt reconnection.
(MQTT_PUBLISH_COUNT_PER_LOOP has been set to 20.)

Is there anything else I need to set up?
In what circumstances do these errors and unreacha

[2021-04-29 22:40] sukhmanm commented on #1618
Hi @vikivivi,

Unfortunately the current demos only load in the first certificate found in the file path specified. However, depending on the region in question, the update should only need to be made once. Alternatively, it may be possible to configure a custom  [CloudFront domain](https://aws.amazon.com/premiumsupport/knowledge-center/cloudfront-https-requests-s3/) with a S3 origin, in order to

[2021-04-30 16:42] sukhmanm commented on #1626
Hi @HenriqueLeal2910,

Could you confirm that you have pasted the correct `private.pem.key` and `certificate.pem.crt` files into the certs directory? As well as attached the correct policy to`myesp32-cam-example,`as described [here](https://aws.amazon.com/pt/blogs/iot/creating-object-recognition-with-espressif-esp32/#:~:text=creating%20an%20aws%20iot%20device)? The error code -12 (`NETWORK_SSL_REA

[2021-04-30 18:33] sukhmanm commented on #1627
Hi @una801,

Does the still error occur when the delay isn't reduced? It seems there are no explicit error logs in the output provided - it may be that the size of the network buffer is insufficient and requires modification in the [configs](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/8aebd12f8353e4cfaa040daeb0a2603aa0950be7/demos/mqtt/mqtt_demo_mutual_auth/demo_config.h#L162).

The

[2021-04-30 23:24] una801 commented on #1627
I'm sorry, I didn't understand what you meant when the delay didn't decrease.

This error causes the mqtt session to kill, with a delay in reading the data (there is no problem with the data being sent).
Previously, the mutual_auth demo that outputs hello world does not detect this phenomenon, but it seems that there is a problem while reading the can data received by the device on the payload by

[2021-05-01 05:29] sukhmanm commented on #1627
@una801, could you please specify which code version and platform you are using?

Apologies if I was unclear. In your initial comment you had mentioned you "reduced the delay time" -- which delay were you referring to specifically? Was it `DELAY_BETWEEN_PUBLISHES_SECONDS`? My question earlier was just aiming to clarify if this abrupt failure is occurring even when your delay changes aren't applied

[2021-05-03 01:24] una801 commented on #1627
I'm sorry. I was embarrassed because it was such a sudden error that I left a question.
First, I cross-compile this mutual_auth demo in arm format and put it on the ARM board to test it.

openssl version is 1.1.1d and the environment that was crosscompiled is ubuntu 16.04.(Use version 16 due to GLIBC version of ARM board.)

I'll show you the code I modified and the code.
First of all, I modified t

[2021-05-03 17:53] sukhmanm commented on #1618
Hi @vikivivi,

I'm going to close this ticket as there appear to be no further updates. Please feel free to open another ticket if you have any further questions or concerns regarding this topic. Thank you.

[2021-05-03 17:53] #1618 closed

[2021-05-03 22:07] aggarw13 commented on #1627
Hi @una801, thank you for sharing the code snippet you're testing with.
It looks like you're facing 3 different forms of failure:
1. >[ERROR] [DEMO] [mqtt_demo_mutual_auth.c:888] Unable to find a free spot for outgoing PUBLISH message.
This error message means that application isn't receiving PUBACK response packets for the MQTT Publish messages sent (through `MQTT_Publish` API), and thus, the arr

[2021-05-04 03:06] una801 commented on #1627
Wow!!
The cause was there.
Unlimited socket generation included in the repeat statement was the cause of overload.

Thank you very much. Thanks to the kind and detailed explanation, I was able to solve the error!

Let me close the issue.
Be happy!

[2021-05-04 03:06] #1627 closed

[2021-05-04 17:48] aggarw13 commented on #1627
I'm glad that adding the cleanup logic fixed the issues for you! 😀

[2021-05-04 21:05] jcracine-cimeq opened #1629 "SSL_read failed: ErrorStatus=DH lib"
Hi, I'm currently working on a C++ wrapper around the SDK for a project and after a while, I start getting these error messages in my methods that handle the republishing and resubscribing (basically the same as [here](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/8aebd12f8353e4cfaa040daeb0a2603aa0950be7/demos/mqtt/mqtt_demo_mutual_auth/mqtt_demo_mutual_auth.c#L1333)). If I wait longer

[2021-05-05 21:43] HenriqueLeal2910 commented on #1626
Hello @sukhmanm,
Sorry for the delay, I ended up deleting everything and doing the steps again, I don't know what could have been. But unfortunately I ran into another problem, in the Monitor it always freezes in the `Registering URI handler`.

![image](https://user-images.githubusercontent.com/83354670/117213283-cb914f00-add1-11eb-8f39-745602a29e19.png)

thanks

[2021-05-06 02:30] una801 opened #1630 "How do I set up a payload with json format?"
Hello
Data is being transferred to the IoT Core via AWS-Embedded-c-SDK.

Click the Tests tab in the IoT Core console to subscribe to the topic and view incoming data.

"The message cannot be displayed in the specified format."
The message pops up.
This is the form of the message I send.
98F20CF3 gangwon1565 0F 24 6B 18 00 12 11 0A

If you select Mark as a string instead of JSON payload on the MQTT

[2021-05-06 12:14] mukesh-2538 commented on #1630
Use cJSON to build a json payload, then serialize it and send it.

[2021-05-06 12:15] mukesh-2538 commented on #1629
Do you have multipe threads running in your code?

[2021-05-06 14:05] jcracine-cimeq commented on #1629
I think I do. I'm using this SDK along with the C++ wrapper for Mosquitto, and if I recall, the library handle all the loop processing in a background thread. Is it because the SDK isn't thread-safe?

[2021-05-06 14:19] mukesh-2538 opened #1631 "HTTP BASIC TLS PAYLOAD issue. **Not able to receive HTTP POST body on the server**"
I am using HTTP basic tls application to send "hello world" payload over Post request.
**THIS is the POST request sent to server. I am able to receive a response from server. But i am not able to understand why the server is not receiving the body of the request**
[code]

**I am also attaching my SERVER code**
[code]
**Is there a way to send JSON payload via POST?**

[2021-05-06 14:21] mukesh-2538 commented on #1629
Yes, this is the most probable reason for the failure.

[2021-05-06 14:55] jcracine-cimeq commented on #1629
I'll do some tests to verify if this was the cause. I noticed [this C++ SDK repository](https://github.com/aws/aws-iot-device-sdk-cpp) as I was delving for informations. Could this be a long term, viable alternative of the C SDK?

[2021-05-07 00:23] una801 commented on #1630
Does that mean publishing data using the json library?
Like the python capture I attached, even if I simply send it in the form of json, the payload type appeared to be json in the video.
But C can't do that?

[2021-05-07 04:14] alfred2g commented on #1629
HI @jcracine-cimeq,
The C-SDK is intended for embedded systems with focus on small devices with limited resources.
The C++ SDK is intended for larger systems where resources are somewhat abundant.

[2021-05-07 10:52] naluckstar opened #1632 ""mqtt_demo_mutual_auth" demo Compile error"
The problem points are as follows:

root@hlk:/home/hlk/Desktop/aws/aws-iot-device-sdk-embedded-C/build# make help | grep demo
... http_demo_s3_download
... http_demo_plaintext
... http_demo_mutual_auth
... http_demo_s3_upload
... http_demo_s3_download_multithreaded
... http_demo_basic_tls
... shadow_demo_main
... pkcs11_demo_objects
... pkcs11_demo_management_and_rng
... pkcs11_demo_sign_and_verif

[2021-05-07 14:29] jcracine-cimeq commented on #1629
Ok, and I imagine a Single Board Computer would work kinda well with the later, right?

[2021-05-08 07:23] naluckstar commented on #1632
Thank you very much for your help. The problem has been solved, but your web tutorial needs to be updated. The command "sudo apt get install libssl dev" gets version 1.0.2, which is really problematic.

[2021-05-08 07:44] naluckstar opened #1633 "The demo code doesn't work properly: Segmentation fault (core dumped)"
Both the setups are in the same network. Steps followed -

1.Created a thing in AWS. Download the certificate, private and public key.
2.Activate the keys and attach a policy.
3.Added Endpoint, certificate and private key paths in demo_config.h
4.Compiled and ran it.

The questions are as follows:

root@hlk:/home/hlk/Desktop/aws/aws-iot-device-sdk-embedded-C/build# make mqtt_demo_mutual_auth
[ 33%

[2021-05-10 04:16] mukesh-2538 commented on #1631
Issue was solved using "addheader" api's. I had to mention what type of content i was sending.

[2021-05-10 04:16] #1631 closed

[2021-05-10 04:19] mukesh-2538 commented on #1630
Its better to use some library to construct a JSON object and use api's from the same library to stringify it. It will handle all the complexities.

[2021-05-10 20:34] yourslab commented on #1633
How are you formatting the file paths? Have you tried using an absolute directory?

[2021-05-10 21:39] dan4thewin commented on #1630
Hi, @una801 .  It's hard to say exactly why the console JSON parser is giving an error.  I copied the `{"canID":"987F17F3"}` from your image above, and it parsed correctly in the console client.  Perhaps there are some non-printing characters in the MQTT body that are causing the problem.

You can, of course, use a library to create JSON, or you can write it using C.  Here's an example: https://gi

[2021-05-11 01:18] una801 commented on #1630
{"canID":"987F17F3"} as an example, can you show me an example?

[2021-05-11 02:50] naluckstar commented on #1633
1.The file configuration is as follows:

#define ROOT_CA_CERT_PATH          "/home/hlk/Desktop/aws/aws-iot-device-sdk-embedded-C/build/bin/certificates/AmazonRootCA1.crt"
#define CLIENT_CERT_PATH           "/home/hlk/Desktop/aws/aws-iot-device-sdk-embedded-C/build/bin/certificates/89797c3d3e-certificate.pem.crt"
#define CLIENT_PRIVATE_KEY_PATH    "/home/hlk/Desktop/aws/aws-iot-device-sdk-embedded-

[2021-05-11 05:29] abhidixi11 commented on #1629
Hello @jcracine-cimeq
The failure you have seeing, is stemming from the network. It is most likely due to idle MQTT connection. The keep-alive period may be expiring and AWS IoT core is probably disconnecting MQTT connection.
What is the keep alive timeout value  have you set ?

[2021-05-11 16:35] yourslab commented on #1633
I'm a little confused because the log is indicating `/home/hlk/Desktop/aws/aws-iot-device-sdk-embedded-C/build/certificates/AmazonRootCA1.crt` even though you specified `/home/hlk/Desktop/aws/aws-iot-device-sdk-embedded-C/build/bin/certificates/AmazonRootCA1.crt`. You seem to be missing a `bin` folder?

[2021-05-11 17:39] yourslab commented on #1633
Also, you shouldn't have to change `ROOT_CA_CERT_PATH`. If you leave it as is, CMake will download it for you.

[2021-05-12 15:49] zlhk100 opened #1634 "Look for a solution to help us improving MQTT_ProcessLoop 's behaviour in user worker thread. Thanks!"
Dear AWS C SDK expert,

In our MQTT connecting and incoming message polling sequence,  we are doing something like following straightforward from one worker thread A.
      1>.  MQTT_init
      2>  Connect to MQTT broker via mutual authN with this API.
             Openssl_Connect(mNetworkContext, &serverInfo, &opensslCredentials,
                                        SSL_read_write_timeout_ms,

[2021-05-13 15:53] zlhk100 commented on #1634
Do we have any updates?    Thanks,   Lei

[2021-05-14 20:19] yourslab commented on #1633
Hi @naluckstar. Any update on this issue?

[2021-05-14 20:26] yourslab commented on #1634
Although I don't see anything particularly wrong with what you've done, one common way is to use a blocking socket for connect (as you've already done with 2000ms). After which, you can set the socket to non-blocking. However, it may require some updates to the transport interface underneath, particularly with Openssl_send and Openssl_recv, as we don't have a mechanism yet to configure non-blockin

[2021-05-17 01:14] naluckstar commented on #1633
Yes, the problem has been solved. The path needs to be reset. I used this command:
cmake . -Bbuild -DAWS_IOT_ENDPOINT="a241jm1zvbp1tq-ats.iot.us-west-2.amazonaws.com" -DROOT_CA_CERT_PATH="/home/hlk/Desktop/aws/aws-iot-device-sdk-embedded-C/build/bin/certificates/AmazonRootCA1.crt" -DCLIENT_CERT_PATH="/home/hlk/Desktop/aws/aws-iot-device-sdk-embedded-C/build/bin/certificates/89797c3d3e-certificate.

[2021-05-17 03:56] KevinIoT opened #1635 "how to cross compile the sdk on mips？"
**there is my option，but i get some error，how can i resolve it？**
1、 export CC=mips-linux-uclibc-gnu-gcc
 export CXX=mips-linux-uclibc-gnu-g++
 export AR=mips-linux-uclibc-gnu-ar
 export LD=mips-linux-uclibc-gnu-ld

2、mkdir build && cd build
3、cmake ..

**error**
Found the following definitions for ota_demo_core_mqtt: ROOT_CA_CERT_PATH, CLIENT_IDENTIFIER, OS_NAME, OS_VERSION, HARDWARE_PLATFORM_NAM

[2021-05-17 06:33] yourslab commented on #1633
Okay, I'm glad you got it resolved. I will close this now, but please feel free to open another issue if ever you face more issues.

[2021-05-17 06:33] #1633 closed

[2021-05-17 07:58] yourslab commented on #1635
There are a couple of problems I notice. The first, I see that you are missing the following definitions:
[code]
You can do this by passing these as CMake flags. It works similarly for all other demos with the same warning message:
[code]
Note that this is not required if you do not need the demo. The warning is just there to state that the demo won't compile by default upon entering `make`.

The

[2021-05-18 06:41] KevinIoT commented on #1635
Thank you for your help. I have resolved it.

[2021-05-18 06:41] #1635 closed

[2021-05-20 06:21] Kelephant opened #1637 "How do I compile and generate a static library"
I generated the project files as follows, but I want to generate static libraries during compilation (such as libclock_posix.a, libopenssl_posix.a), what should I do? I know this can be done by modifying the Makefile, but I wonder if the project has parameters to automatically generate static libraries

**Here is my compilation process**
export CC=mips-linux-uclibc-gnu-gcc
export CXX=mips-linux-uc

[2021-05-20 14:55] zlhk100 commented on #1634
thanks @yourslab for the comments.  Do we plan to expose user interface to allow dynamically changing the transport I/O's blocking/non-blocking behaviour?

Regards,
Lei

[2021-05-20 15:19] zlhk100 opened #1638 "Cross platform supporting for Windows 10."
We are integrating aws iot  csdk in our security application to do secure mqtt/https/tls client/pkcs#11 for tls mutual authN.  The designing goal for us targets at cross platform portability with proper modularization between OS/platform independent and PAL just like the way aws IOT cSDK does.

Currently we have our application up running on Linux based OS.   Next step we plan to bring up the soft

[2021-05-20 18:00] aggarw13 commented on #1637
Hi @KevinIoT, for building libraries as static archives, we expose a `BUILD_SHARED_LIBRARIES` Cmake variable as can be seen [here](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/202103.00/CMakeLists.txt#L54-L57)

In the CMake command you have shared, you just need to make sure to set the variable to off as `-DBUILD_SHARED_LIBRARIES=OFF` which will configure the generate build configurat

[2021-05-20 19:08] yourslab commented on #1634
Thanks for making this suggestion. We will look into adding this feature into the pipeline. However, one way you can get around this limitation is by creating a wrapper function around Openssl_send and Openssl_Recv that calls `poll` or `select` on the socket before calling the aforementioned functions.

[2021-05-20 19:12] yourslab commented on #1638
This has been asked before in the following thread:
https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/1586

Copying my answer from there:

[2021-05-20 19:37] zlhk100 commented on #1634
thanks @yourslab and @aggarw13 for the suggestion and we will study making proper workaround for this case.    Regards,  Lei

[2021-05-20 19:37] #1634 closed

[2021-05-20 21:59] aggarw13 commented on #1632
Hi @naluckstar, thank you for pointing the issue with the default installation.
I tried reproducing your issue on Docker containers for Ubuntu 21.04, 18.04 and 16.04 but each of them obtained OpenSSL version 1.1.1 (after updating the sources) for `apt-get install libssl-dev`.
Can you share the details of your environment that is causing the `apt-get install libssl-dev` to install v1.0.2?

[2021-05-21 02:00] aggarw13 commented on #1629
Hi @jcracine-cimeq, am checking in to see whether you are still facing the SSL read issue?

If yes, does your application periodically call the `MQTT_ProcessLoop` function in the C++ wrapper for executing the keep-alive functionality? If your application has time periods of no communication with the IoT Core broker for more than the keep-alive period, then it is required to call the `MQTT_ProcessL

[2021-05-21 02:02] aggarw13 commented on #1626
Hi @HenriqueLeal2910, sorry for the delay in responding. Are you still facing an issue with the issue of connection failure?

[2021-05-21 03:05] KevinIoT commented on #1637
Thank you for your answer!  I use this parameter, but after I make, I still generate a dynamic library. I want to get the static library files of the following three libraries. What should I do？

[2021-05-21 03:56] Kelephant commented on #1637
Thank you for your answer @aggarw13 ! When I manually set the ALLOW_SHARED_LIBRARIES variable of cmakelist file to off, I received the following errors

`CMake Error at platform/posix/CMakeLists.txt:14 (install):
  install TARGETS given no ARCHIVE DESTINATION for static library target
  "clock_posix".

CMake Error at platform/posix/transport/CMakeLists.txt:45 (install):
  install TARGETS given no

[2021-05-21 06:44] Kelephant opened #1640 "Is there any document about ota_demo_core_mqtt"
Is there any document about ota_demo_core_mqtt?  I want to know the role of this demo and OTA's work guide

[2021-05-21 07:21] yourslab commented on #1640
A good place to start is the [Getting Started section of the README.md](https://github.com/aws/aws-iot-device-sdk-embedded-C#getting-started) with emphasis on [Prerequisites for the AWS Over-The-Air Update (OTA) demos](https://github.com/aws/aws-iot-device-sdk-embedded-C#prerequisites-for-the-aws-over-the-air-update-ota-demos).

[2021-05-21 12:58] HenriqueLeal2910 commented on #1626
Hello @aggarw13 , no problem. Yes unfortunately! Still freazing on `Registering URI handler`.

Regarts,
leal Henrique

[2021-05-21 13:28] jcracine-cimeq commented on #1629
Hi @aggarw13. I'm still having the SSL read issue. I can confirm I'm calling MQTT_ProcessLoop periodically. I'm still working on things but I think the reason stems from my app using multithreading, so I'm working on making my wrapper thread-safe.

[2021-05-21 17:56] aggarw13 commented on #1629
@jcracine-cimeq, one suggestion to ascertain whether multi-threading is the cause of the issue can be by testing the wrapper only in a single threaded application and seeing whether you see the same error.

[2021-05-21 21:15] aggarw13 commented on #1637
Can you try with a clean build directory to make sure that use of `-DBUILD_SHARED_LIBRARIES=OFF` CMake parameter does not work for you?

For the issues relating to installation, can you share the exact CMake commands you're using so that I can reproduce the issue?

[2021-05-21 22:39] aggarw13 commented on #1637
@Kelephant, I tested installing libraries built as static archives and noticed an issue with our CMake configuration for `install` target for static archive library builds.
I have opened a PR #1641 to fix the missing support. Can you try the change and let us know if it resolves the erros you are seeing?

[2021-05-24 01:39] Kelephant commented on #1637
@aggarw13 I am relatively new to cmake. I just used your solution and the verification passed, thank you for your help!

[2021-05-24 01:42] #1637 closed

[2021-05-25 09:31] Kelephant commented on #1640
@yourslab When I configure and run ota_mqtt_demo_core according to the method of the document, the following error is reported. What should I do?

**errors**
`
[INFO] [MQTT] [core_mqtt.c:886] Packet received. ReceivedBytes=2.
[INFO] [MQTT] [core_mqtt_serializer.c:970] CONNACK session present bit not set.
[INFO] [MQTT] [core_mqtt_serializer.c:912] Connection accepted.
[INFO] [MQTT] [core_mqtt.c:156

[2021-05-25 16:24] yourslab commented on #1640
Can you please share details about the environment you are using? It's likely that this error is caused when `CONFIG_POSIX_MQUEUE=y` is not set in the kernel config.

[2021-05-26 02:54] Kelephant commented on #1640
@yourslab After I recompiled the kernel, MQ_ Open is working properly. However, the demo is still unable to download the S3 file. The operation is as follows：

[root@Ingenic-uc1_1:iot]# ./ota_demo_core_mqtt
[INFO] [DEMO] [ota_demo_core_mqtt.c:1508] OTA over MQTT demo, Application version 1.9.2
[ERROR] [OTA] [ota_os_posix.c:94] >>>>>>>>>>>>>>>> OTA_QUEUE_NAME:/mqueue

[INFO] [DEMO] [ota_demo_core_m

[2021-05-26 03:04] Kelephant commented on #1640
@yourslab Thank you for your help. I've solved it.

[2021-05-26 04:30] yourslab commented on #1640
I'm closing this issue now but feel free to open another one if you encounter more problems

[2021-05-26 04:30] #1640 closed

[2021-05-26 10:31] Kelephant opened #1643 "ota_demo_core_mqtt：The platform is in the self-test state while the job is not"
This error occurred when I ran the ota_demo_core_mqtt program

[INFO] [DEMO] [ota_demo_core_mqtt.c:1508] OTA over MQTT demo, Application version 0.9.2
[INFO] [DEMO] [ota_demo_core_mqtt.c:983] Establishing a TLS session to ayi8otvxdbes1-ats.iot.us-west-2.amazonaws.com:8883.
[INFO] [DEMO] [ota_demo_core_mqtt.c:1132] Creating an MQTT connection to ayi8otvxdbes1-ats.iot.us-west-2.amazonaws.com.
[INFO]

[2021-05-26 23:48] dachalco commented on #1643
@pvyawaha Could you take a look?

[2021-05-26 23:51] pvyawaha commented on #1643
Hello,

Can you check if PlatformImageState.txt file was already created before running the demo. It might be present due to previous demo run which was stopped.

[2021-05-27 01:58] Kelephant commented on #1643
@pvyawaha Thank you very much for your help.
I found the PlatformImageState.txt file, but when was it created? What is its function?
When Ota is over, the file still exists. Do I need to delete it manually

[2021-05-27 02:35] pvyawaha commented on #1643
The file is created when OTA process starts and used for keeping the state of update file , if it is new, in self-test or valid. After OTA is complete the file will be still present but with valid state. If the application is stopped without proper closing then it can have a state that was incorrect. For example it was left in self-test in your case but the job in service was not in same state as

[2021-05-27 02:41] Kelephant commented on #1643
@pvyawaha thanks !

[2021-05-27 02:41] #1643 closed

[2021-05-27 19:14] stringofevents commented on #1640
Guess your fucked

temp. 1111

On Fri, May 21, 2021, 02:45 Kelephant ***@***.***> wrote:

[2021-06-02 04:02] yourslab commented on #1638
Hi, I'll be closing this issue now as it's been inactive for a while but if you have any follow-up inquiries, please feel free to open another issue.

[2021-06-02 04:02] #1638 closed

[2021-06-02 19:10] yourslab commented on #1629
Hi @jcracine-cimeq. Do you still have any issues after making the wrapper thread-safe?

[2021-06-02 19:17] yourslab commented on #1626
Hi @HenriqueLeal2910. Freezing occurs when when starting the HTTP server provided by the ESP-IDF. I would suggest opening an issue in their repository: https://github.com/espressif/esp-idf

[2021-06-03 06:14] yourslab commented on #1632
Seems like this issue has been inactive for a while so I will be closing it. If you have further inquiries, please feel free to open another.

[2021-06-03 06:14] #1632 closed

[2021-06-07 18:57] yourslab commented on #1626
I'll be closing this issue but if you find a problem with the Embedded C SDK, please feel free to open another issue here

[2021-06-07 18:57] #1626 closed

[2021-06-09 05:34] Aswinachuthshankar opened #1649 "SSL_connect failed to perform tls handshake / unable to get local issuer certificate"
I have cross-compiled sdk and integrated it into a device. Used openssl 1.1.0i and librt-2.15.
Running mqtt_demo_mutual_auth gives error SSL_connect failed to perform tls handshake.
Had created aws things and kept certificates in /etc/ssl/certs.
Running the same application on my pc gives no error.
openssl connect command also doesn't give any error on pc where as on device it gives error "unable

[2021-06-09 12:09] wildwindyevan opened #1650 "DEMO:shadow_demo_main disconnect after 1min"
the laster version 202103.00
I build this code on MAC  OSX  11.0.1  openssl  version is  1.1.1j
 Run the demo "shadow_demo_main"
I tried to modify the code  to make once MQTTconnect success and subscribes success   without "do while".
 Finally
1 in the first 30s after connected ,subscribes handler function  works . after 30s,  nothing happens.
2 the shadow  will disconnect in 1min when using  the

[2021-06-09 17:27] yourslab commented on #1650
Yes, that is just the nature of MQTT:

You set `MQTT_KEEP_ALIVE_INTERVAL_SECONDS=60U`, so if your code does not send a PUBLISH or any other control packet within 60 seconds, the MQTT server will close the connection. You can also call `MQTT_ProcessLoop` before 60 seconds expires since you will likely need to receive Shadow updates from the server anyway.

[2021-06-10 16:42] wildwindyevan commented on #1650
Thanks  It works。
Actually， it dont need use any ping function when using  device CPP  SDK v1

[2021-06-10 16:46] wildwindyevan opened #1651 "MQTT event triggers"
As  we known , one event as below will be trigged  when  mqtt session disconnected, and then  mqtt will reconnected ,resubscribe.
how could  I setup   3 callbacks?
==============
1 DisconnectCallback
2 ReconnectCallback
3 ResubscribeCallback

[2021-06-11 17:42] yourslab commented on #1650
You unplugged the cable, so the TCP connection is no longer alive. In order to re-establish connection, you can call the function `EstablishMqttSession ` after getting `mqttStatus == 4`.

[2021-06-11 17:43] yourslab commented on #1629
I'm closing this issue now since we haven't heard back in a while but please feel free to re-open if needed

[2021-06-11 17:43] #1629 closed

[2021-06-12 09:13] wildwindyevan commented on #1650
So strange it works after calling "EstablishMqttSession"

[2021-06-12 09:13] #1650 closed

[2021-06-13 15:04] #1651 closed

[2021-06-14 05:50] una801 opened #1652 "File access path in sdk execution"
Hello
Using IoT Core via mqtt_demo_mutual_auth.

I cross-compile sdk and put it in the form of ARM to use it. As a result, you must enter the path of the file as an absolute path in the run setting at device boot time.

As far as I know, there is no file path or direct file writing in sdk other than the certificate path, is there any additional function that runs along the file path?

I'm looking

[2021-06-14 12:52] wildwindyevan opened #1653 "PEM_read_X509 failed to parse root CA"
Platform : linux armv4
Hw: NXP  imx6
openssl version -a
OpenSSL 1.1.0k  28 May 2019
built on: reproducible build, date unspecified
platform: linux-armv4
options:  bn(64,32) rc4(char) des(long) idea(int) blowfish(ptr)
compiler: /opt/poky/1.7/sysroots/x86_64-pokysdk-linux/usr/bin/arm-poky-linux-gnueabi/arm-poky-linux-gnueabi-gcc -DDSO_DLFCN -DHAVE_DLFCN_H -DNDEBUG -DOPENSSL_THREADS -DOPENSSL_NO_STAT

[2021-06-14 13:08] #1653 closed

[2021-06-14 16:02] wildwindyevan opened #1654 "Failed to receive data over network: SSL_read failed: ErrorStatus=EVP lib."
Platform : linux armv4
Hw: NXP imx6
#openssl version -a
OpenSSL 1.1.0k  28 May 2019 (Library: OpenSSL 1.1.1g  21 Apr 2020)
built on: Mon Jun 14 13:57:08 2021 UTC
platform: linux-armv4
options:  bn(64,32) rc4(char) des(long) idea(int) blowfish(ptr)
compiler: /opt/poky/1.7/sysroots/x86_64-pokysdk-linux/usr/bin/arm-poky-linux-gnueabi/arm-poky-linux-gnueabi-gcc -fPIC -pthread -Wall -O3   -mfloat-abi=h

[2021-06-15 23:05] yourslab commented on #1652
Yes, I don't believe we read any files besides certificates & private keys. You can also use relative path, and it's relative to where you run `cmake`.

[2021-06-15 23:05] yourslab commented on #1649
Hi @Aswinachuthshankar. Any update on this issue?

[2021-06-16 00:07] una801 commented on #1652
I've fixed the problem. Thank you.

[2021-06-16 00:07] #1652 closed

[2021-06-18 03:18] vikivivi commented on #1654
What is your setting for `TRANSPORT_SEND_RECV_TIMEOUT_MS` ? Personally, I am setting to `2000` which works better in some heavy multi-layer structured corporate network.

[2021-06-21 19:45] vamsi1105 opened #1655 "MQTT Disconnecting - 'CLIENT_INITIATED_DISCONNECT' in aws logs"
We are using ESP32 and communicating to AWS via MQTT. While sending the data from web to controller, we are sending 12K data. ESP32 is returning '-1' generic error and no much information found about this error.  While debug it was found that aws_iot_mqtt_yield(&client,100) is returning -1. After changing the yield time from 100ms to 2000ms aws_iot_mqtt_yield(&client,2000) , It is receiving the da

[2021-06-21 21:27] yourslab commented on #1655
This is a known issue with the espressif distribution but is already fixed in our own repository in release tag [v3.1.4](https://github.com/aws/aws-iot-device-sdk-embedded-C/releases/tag/v3.1.4). I would suggest opening an issue here so that Espressif can expedite fixing the issue in their own fork: https://github.com/espressif/esp-aws-iot

[2021-06-25 22:00] dan4thewin commented on #1654
Hi, @wildwindyevan .  Are you using coreMQTT to connect to AWS IoT core?  Are you running one of the demos?  Can you take a packet capture?

[2021-06-29 06:32] manbomb opened #1657 "NETWORK_DISCONNECTED_ERROR on yield method"

[2021-06-29 19:05] #1657 closed

[2021-06-30 03:34] wildwindyevan commented on #1654
500. And then  2000 does not work  also

[2021-06-30 03:35] wildwindyevan commented on #1654
yes  coreMQTT .I will try a demo

[2021-06-30 03:37] wildwindyevan commented on #1649
openssl  1.1.1  can fix it .
I tried  1.0.0 and 1.1.0 and 1.1.1 .
Only 1.1.1  works

[2021-06-30 05:37] #1655 closed

[2021-06-30 21:08] yanjos-dev commented on #1649
Hi @wildwindyevan,

Thank you for the update, I'm glad to hear that it works. Do you need any further help or may this issue be resolved?

[2021-07-01 09:26] shrinivasragolu opened #1658 "Error: message cannot be displayed in specified format"
Hi All,

We have been using aws-iot-device-sdk-embedded-C version 3.0.1 since long time. Recent times we have not verified MQTT client from AWS console. Now when I try to run the subscribe_publish_sample application from the device, I am receiving the messages but errors marked on each message on aws mqtt client "test" ,
<img width="1260" alt="Screenshot 2021-07-01 at 2 56 02 PM" src="https://user

[2021-07-01 15:05] wildwindyevan commented on #1654
it works after changing another cer and  private key.

[2021-07-01 15:05] #1654 closed

[2021-07-06 11:37] shrinivasragolu commented on #1658
Any help to view the telemetry messages?

Thanks in advance,
Srinivas.

[2021-07-06 17:37] Mohits2103 opened #1661 "SPIFFs connection"
I am using ESP-IDF and am trying to integrate SPIFFs into (aws-iot-device-sdk-embedded-C/demos/http/http_demo_s3_upload/)

Basically, I am trying to send a file(say image) into s3 bucket which is in SPIFFs partiton. Please suggest me how to use the same..

Regards,

[2021-07-09 18:11] ravibhagavandas commented on #1661
Hello,

Espressif provides an example of how to use the SPIFFS partition in their IDF:
https://github.com/espressif/esp-idf/tree/master/examples/storage/spiffs
You could use the sample to do standard file operations using the SPI flash.  To upload the object to S3 you need to replace `DEMO_HTTP_UPLOAD_DATA` in the demo with the contents of the file.

[2021-07-13 23:59] ravibhagavandas commented on #1649
I am closing this issue due to inactivity. Feel free to open a new issue if you have further queries.

[2021-07-13 23:59] #1649 closed

[2021-07-14 23:59] muneebahmed10 commented on #1658
Hi @shrinivasragolu,

You've likely just set the console to output the messages in JSON format, while the actual payloads are only strings. You can change the display format of your subscription by clicking "Edit" in the top right corner:
<img width="817" alt="Screen Shot 2021-07-14 at 4 55 57 PM" src="https://user-images.githubusercontent.com/54290492/125707572-11a73998-f690-41e7-a0de-63842b49a80

[2021-07-15 00:59] muneebahmed10 commented on #1661
Hi @Mohits2103,

Did the [above](https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/1661#issuecomment-877367819) response answer your question?

We will close this issue if we do not hear back from you

[2021-07-19 17:08] #1661 closed

[2021-07-22 23:57] yourslab commented on #1658
Hi @shrinivasragolu. Did this solve your issue?

[2021-07-23 09:53] shrinivasragolu commented on #1658
Thanks you so much. I could resolve this issue with the muneebahmad input.

Closing this issue

[2021-07-23 09:53] #1658 closed

[2021-07-24 13:21] edbek opened #1673 "software agents"
For IoT industry, the task of creating software agents has long been overdue. For example, interpreters for state machines of the SCXML or BT (behavior trees). Can this be expected?

[2021-07-24 20:19] yourslab commented on #1673
This SDK is more concerned with connectivity to the cloud. As such, we have protocol agents like the coreMQTT Agent that provides thread-safe equivalents to the coreMQTT library: https://github.com/FreeRTOS/coreMQTT-Agent

[2021-07-24 20:19] #1673 closed

[2021-08-03 08:46] emilmelnikov opened #1684 "Add PlatformIO library manifests"
PlatformIO has a library manager that knows [how to install dependencies from git repositories](https://docs.platformio.org/en/latest/librarymanager/quickstart.html#project-dependencies).
It would be great to be able to use libraries from this SDK just by referencing them in `platformio.ini`.
This requires adding [`library.json`](https://docs.platformio.org/en/latest/librarymanager/config.html) to

[2021-08-11 11:56] ajlennon opened #1693 "ESP32 port for OTA"
I am trying to support OTA with a Platform.io build environment...

After some investigating I have found platformio/platform-espressif32

ref: https://github.com/platformio/platform-espressif32

This contains a demo, espidf-aws-iot  which shows pub/sub and seemingly shadowing.

https://github.com/espressif/esp-aws-iot

This leverages v3.0.1 of this aws-iot-device-sdk-embedded-C and has a ports/*

[2021-08-12 11:40] Kelephant opened #1695 "I use port 443 to connect to mqtt of aws, but I cannot connect successfully."
I use port 443 to connect to mqtt of aws, but I cannot connect successfully.

I am using mqtt demo mutual auth demo, and modified AWS_MQTT_PORT to 443, the certificate is also configured (the certificate is provided by the customer, and they work normally), and the following error is reported. What is the reason?

code：
[mqtt_demo_mutual_auth.zip](https://github.com/aws/aws-iot-device-sdk-embedded

[2021-08-13 03:11] Kelephant commented on #1695
@aggarw13 Can you help me ？

[2021-08-16 06:38] alfred2g commented on #1684
Hi,
I will take your request to your team and we will get back to your with an answer, if it is a  yes, PRs are always welcome !

[2021-08-16 07:37] pvyawaha commented on #1693
Hello,

Please take a look at the port in

[2021-08-16 08:48] #1693 closed

[2021-08-16 19:21] aggarw13 commented on #1695
Hi @Kelephant, from the zip artifact you have shared, I see a different Root CA certificate being used in the following logic of the `demo_config.h` file. Is this file the same as [Amazon Root CA 1](https://www.amazontrust.com/repository/AmazonRootCA1.pem) which is the certificate required for verifying server certificate provided by IoT Core in the TLS handshake process?
[code]

[2021-08-17 04:00] Kelephant commented on #1695
When I use Amazon root CA 1 to connect, I still report the same error. @aggarw13

[2021-08-18 06:21] aggarw13 commented on #1695
@Kelephant, can you confirm that you're using the [202103.00](https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/202103.00) version of the repository. I have verified that the MQTT Mutual Auth demo in the release is able to connect to AWS IoT Core on port 443. Here are the logs (with the endpoint redacted)

[code]

Can you also check whether you're able to connect to successfully run the de

[2021-08-31 22:57] abhidixi11 commented on #1684
Hello @emilmelnikov ,
We use manifest file [like this ](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/manifest.yml) in our other repositories. Would it be helpful if we put one this repository as well?  I would be then consistent with our other repositories.

[2021-09-01 07:46] emilmelnikov commented on #1684
Initially I wanted to be able to run `pio lib install <AWS_LIB>` in a PlatformIO project, and get all dependencies, but apparently it doesn't make sense because one has to configure libraries like `coreHTTP` and `coreMQTT` anyway. It could work for libraries without dependencies though (e.g. for `coreJSON`).

[2021-09-01 18:08] abhidixi11 commented on #1684
Thanks @emilmelnikov for the reply.
We are considering to put manifest like our other repositories.  Do you need anything else from us at this time ?  Otherwise we will close this issue. Please feel free to reach out to us if you have any further questions.

[2021-09-01 21:56] #1684 closed

[2021-09-02 23:25] koooge opened #1715 "mbedtls version?"

[2021-09-03 08:48] vinodrr opened #1716 "SSL_connect failed to perform TLS handshake"
We are following the below mentioned steps to validate and test the 'mqtt_demo_mutual_auth' MQTT demo application on AWS-IoT Core platform.

	https://docs.aws.amazon.com/iot/latest/developerguide/iot-embedded-c-sdk.html

We have also create the 'Thing' on AWS IoT Core platform console and downloaded all the required certificates files and placed in the following path.

 /build/bin/certificates.

A

[2021-09-06 20:36] mingyue86010 commented on #1715
Hi @koooge the mbedtls in our repo is here https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/libraries/3rdparty . The pointer pointa to @ e483a77 (mbedtls 2.26) and this is the current version we support.

[2021-09-07 19:56] koooge commented on #1715
Hi, yes it would seem so. Does aws-iot-device-sdk-embedded-C aims to be the same as the freertos mbedtls version?

[2021-09-07 20:53] mingyue86010 commented on #1715
We are targeting get the mbedtls version aligned on amaozon-freertos repo and aws-iot-device-sdk-embedded-C, but unfortunatlly it has done not yet. The version of mbedtls is what the repo pointer points to. So for the mbedtls in amazon-freertos it is version 2.16.10. As for supporting mbedtls 3.0.0, since it will be a major change and be a lot of effort, currently it is not on our plan yet.

[2021-09-08 17:44] mingyue86010 commented on #1716
Hi @vinodrr,

Have you tried to enable the Debug level print? It would be helpful to look into your problem. If's hard to say why it failed the TLS hand shake with the current information... Have you checked if your device certificate matchs the "Thing" you created in cloud and done the configuration correctly?

Regards,
Ming

[2021-09-09 10:12] William-ferns commented on #1500
Hi Rupan,

we are facing same issue, as if we have integrated python sdk to cross verify the certifications of AWS it is working fine but Embedded c SDK is having issue with the same certifications what you have faced earlier, please can you give the information how did solve the issue please let me know.

Thanks and regards,
william

[2021-09-09 11:15] vinodrr commented on #1716
Hi @mingyue86010,

As we have mentioned earlier we did certification and configuration correctly. We created thing in cloud and attached certificate to that. Same certificates we are using in application. Also we tried with enable the debug level print. But we can't resolve the issue.

Thanks and Regards,
Vinod

[2021-09-09 21:58] mingyue86010 commented on #1716
Hi @vinodrr ,

There is one thing I think of you can check. Are you using a relative path or absolute path for your certificate locations? They should use absolute paths. Can you check on this?

Thanks,
Ming

[2021-09-10 06:35] hrishikesheb commented on #1695
Hi @aggarw13 I am trying to run the mqtt_demo_mutual_auth demo. As you said the code will run without any modifications. I am following this documentation which shows how to run the mqtt_demo_mutual_auth demo.

https://docs.aws.amazon.com/iot/latest/developerguide/iot-embedded-c-sdk.html

Everything runs fine till I run cmake but after that when I run make to generate executable file it runs for a

[2021-09-11 14:27] surukonda opened #1718 "Segmentation fault while running mqtt_demo_mutual_auth example"
While running the mqtt_demo_mutual_auth demo example if network connectivity is lost, the program exits with a Segmentation fault error.

## Steps to Reproduce ##
1. Run the mqtt_demo_mutual_auth demo (while device is connected to wifi)
2. Switch-off the wifi router or wifi hotspot after few messages are successfully sent to the IoT Core
3. Program tries to re-connect and fail with Segmentation fa

[2021-09-11 17:07] hrishikesheb commented on #1718
Hi @surukonda since you were able to build the mqtt_demo_mutual_auth can you help me how you did that
I have commented my error in this issue. Please have a look at this and suggest the possible solution.
https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/1695#issuecomment-916667090

[2021-09-12 08:57] hrishikesheb commented on #1718
Hi @surukonda since you are able to build the mqtt_demo_mutual_auth demo can you help me how you did that. I have successfully built the demo but it does not include mqtt_demo_mutual_auth or any other mqtt demos.
![image](https://user-images.githubusercontent.com/70017670/132981490-9299a348-048e-4f04-9341-b3dab273cb2a.png)

Can you help me with this

[2021-09-12 10:40] surukonda commented on #1718
Hi @hrishikesheb - you can find the demo [here](https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/demos/mqtt/mqtt_demo_mutual_auth)

[2021-09-12 11:28] hrishikesheb commented on #1718
Thanks for replying @surukonda now i am successfully able to run the demo (after setting all the macros) but I get this error. Please have a look at it and suggest possible solution.

[INFO] [DEMO] [mqtt_demo_mutual_auth.c:645] Establishing a TLS session to <my_aws-endpoint>-ats.iot.us-west-2.amazonaws.com:8883.
[ERROR] [Transport_OpenSSL_Sockets] [openssl_posix.c:817] Failed to receive data over

[2021-09-13 08:13] rupans commented on #1500
Hi,

I am not a support engineer and it could be many issues I suspect you would
get better results opening a ticket.

Kind Regards,

Rupan

On Thu, 9 Sept 2021 at 11:13, William-ferns ***@***.***>
wrote:

[2021-09-13 14:25] surukonda commented on #1718
Request you to go through the steps specified [here](https://github.com/aws/aws-iot-device-sdk-embedded-C#configuring-mutual-authentication-demos-of-mqtt-and-http)

[2021-09-13 17:04] archigup commented on #1718
Thanks for the bug report, looking into the segfault 👍

[2021-09-13 17:05] archigup commented on #1718
@surukonda Please open a new issue, as to not detract from this one.

[2021-09-13 17:06] archigup commented on #1718
@hrishikesheb  Please open a new issue, as to not detract from this one.
Edit: Sorry pinged wrong person.

[2021-09-14 13:12] h4m3d92 opened #1719 "AWS IoT with TCP connection"
Hi guys,

We are trying to move our IoT devices to AWS. The devices are using M2M (STM32+SIM800L) communication, So we've used "MQTT Plaintext Demo" SDK C.
The device opens a TCP socket (SIM8000L does not support TLS) and sends the following packet to "Things endpoint" address on the ports 8883 and 443:
10 17 00 04 4D 51 54 54 04 02 07 D0 00 0B 74 68 69 6E 67 2F 74 65 73 74 33
or:
10 11 00 04 4D 5

[2021-09-14 18:44] archigup commented on #1719
Hi, the examples in this repository use TCP. Authorization to AWS IoT is handled through client certificates. Can see instructions for setting up the certificates for authorization [here](https://github.com/aws/aws-iot-device-sdk-embedded-C#aws-iot-account-setup) and [here](https://github.com/aws/aws-iot-device-sdk-embedded-C#configuring-mutual-authentication-demos-of-mqtt-and-http).

The Plaintex

[2021-09-14 22:17] muneebahmed10 commented on #1718
Hi @surukonda,

That looks to be the cause of your errors. I've created #1720 to fix this. Thank you for bringing this to our attention.

[2021-09-15 02:05] #1718 closed

[2021-09-15 04:51] owenwang2008 opened #1721 "Does "aws-iot-device-sdk-embedded-C" support MQTT with Amazon Cognito authetication"
Hello! I just want to know if "aws-iot-device-sdk-embedded-C" support MQTT with Amazon Cognito authetication?
We need to implement MQTT communication to the Amazon cloud with Amazon Cognito authetication to the identity pool on Linux. From the amazon website it seems to me that Amazon Cognito mobile SDK is only available for Android/iOS/Javascript, but not for C/C++ on Linux. Then I found this rep

[2021-09-16 08:52] waqar48 opened #1723 "SSL_CTX_use_certificate_chain_file error"
**demo_config.h configuration**
// =================================================
#define AWS_IOT_ENDPOINT               "a27dk1l2143dt6-ats.iot.ca-central-1.amazonaws.com"
#define AWS_MQTT_PORT                  8883
#define CLIENT_IDENTIFIER              "testclient"
#define ROOT_CA_CERT_PATH              "certificates/AmazonRootCA1.crt"
#define CLIENT_CERT_PATH               "certificates/cer

[2021-09-16 08:58] waqar48 commented on #1723
I'm trying to publish to mqtt topic /example/topic with default message. Old config on nodejs driver code had client certificate in .crt format where as here I also tried converting to .pem ( certificates/certficate.pem) as some fixed SSL_CTX_use_certificate_chain_file error with command
openssl x509 -in certificates/certificate.pem.crt -out certificates/certficate.pem

Yet still the error is occu

[2021-09-16 10:16] waqar48 commented on #1723
Also same result for different port 443 as #define AWS_MQTT_PORT 443

[2021-09-16 10:31] pragnesh036 opened #1724 "fopen failed to find the root CA certificate file error generated in mqtt_demo_mutual_auth example"
hello sir
I am using stm32MP1 with your mqtt_demo_mutual_auth code and as wireless, I am using GSM with PPP.
If the network of GSM is good, then it will work fine, but in the bad network, my data sends perfectly After some back-off.
After two or three-day-long testings, I get errors according to bellow loges,

<details>
<summary>Log Output</summary>
<pre>
[INFO] [DEMO] [mqtt_demo_mutual_auth.c:821

[2021-09-16 15:44] vadimceb commented on #1716
Hello!
I have the same problem but with _fleet_provisioning_with_csr_demo_, mqtt demos work just fine.
I have double checked policy and certificates, generated from AWS console, and using abosulte path.

`SDK version`: 202108.00

logs:

[INFO] [PKCS11] [core_pkcs11_mbedtls.c:2823] Creating a 0x3 type object.
[INFO] [PKCS11] [core_pkcs11_pal.c:63] Could not open corePKCS11_Claim_Certificate.dat for

[2021-09-20 11:15] mleister97 opened #1725 "Does this library work with Greengrass v2?"
Hello,

could you please tell me the following:
Is this library working (on Arduino/ESP 32/Node MCU/....) with the new Greengrass V2? I was not able to find any information about that. I know there is a new lib: https://github.com/aws/aws-iot-device-sdk-cpp-v2 but I am not sure how to use this new lib in combination with my arduino.

Any help appreciated. Thanks a lot.

[2021-09-20 17:53] dachalco commented on #1724
@muneebahmed10 Could you please take a look at this?

[2021-09-20 18:11] dachalco commented on #1724
@pragnesh036

It's hard to say if something is wrong as this is a valid execution path for the the demo. It's attempted to connect using exponential backoff, fails, and continuously retries for a user configured number of times, before failing.

Is your issue deterministically repeatable? Could it be that the device does not have sufficient signal to connect? Might be handy to periodically log GSM

[2021-09-20 18:20] dachalco commented on #1721
@owenwang2008

Looking into this, will get back to you soon.

[2021-09-20 18:28] muneebahmed10 commented on #1724
Hi @pragnesh036,

I'm not sure why the `fopen` call fails. Some other process could have opened the file and `fopen` is unable to obtain the handle. However, as you can see from the logs, this only occurs once, and when the connection is retried the error occurs at different places, so it looks like your issue is different.

* Your first error `SSL_connect failed to perform TLS handshake` occurs i

[2021-09-20 18:28] dachalco commented on #1719
Hi @h4m3d92

If I understand correctly, you're looking to connect to IoT Core using separate TLS/TCP/MQTT stacks. Did you have any success referring to code Archit linked or is there any way we can further assist?

[2021-09-20 19:53] dachalco commented on #1723
Hi @waqar48

Looking into your issue now, will get back to you shortly.

[2021-09-20 22:29] dachalco commented on #1723
Hi @waqar48

The encoding conversion you made should be unnecessary as `.crt` and `.pem` are colloquially both PEM encoding. I suspect the result of the unnecessary conversion may have given rise to these issues. Were you hitting errors complaining about the file extension (i.e. `.crt` vs `.pem`)? If so you should be able to simply change the filename of the original `certificates/certficate.crt`

[2021-09-20 23:10] dachalco commented on #1721
Hi @owenwang2008

No, aws-iot-device-sdk-embedded-C does not natively support authentication via Cognito.

However it should be possible via other means. According to [this documentation](https://github.com/awslabs/aws-c-auth/blob/main/include/aws/auth/credentials.h#L303-L321) you can use the [aws-c-auth](https://github.com/awslabs/aws-c-auth) to interface Cognito. It's a git repo so you poke arou

[2021-09-20 23:10] #1721 closed

[2021-09-21 05:50] waqar48 commented on #1723
I reverted port back to 8883 and also without using openSSL I renamed `certificates/certficate.crt to certificates/certficate.pem` yet same above result.

Findings but for **mqtt_basic_tls client**

**Configuration**
// Get from demo_config.h
// =================================================
#define BROKER_ENDPOINT               "redacted-ats.iot.ca-central-1.amazonaws.com"
#define BROKER_PORT

[2021-09-21 07:31] h4m3d92 commented on #1719
Hi @archigup
Thank you for the information. Unfortunately we are using M2M solution and we cannot use the code you've shared.
Also SIM800L does not support TLS, we have to use just TCP socket.

[2021-09-21 07:37] h4m3d92 commented on #1719
Hi @dachalco
We cannot use TLS connection due to our hardware structure. We have to use TCP serializer because we use SIM800L module [https://docs.aws.amazon.com/freertos/latest/lib-ref/embedded-csdk/202009.00/lib-ref/docs/doxygen/output/html/mqtt_demo_serializer.html](url)
Here is the library I've used for this purpose [https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/mqtt/mqt

[2021-09-21 11:44] arslan77 commented on #1725
Hello there,

I also want to know if this library can be used in Arduno UNO or ESP 8266 ?

I want to use greengrass with these microcontrollers or I have to upgrade the device to support the greengrass.

Thanks

[2021-09-21 18:51] Shivampatel001 opened #1726 "Facing Errors while creating cmake files for executing AWS embedded C"
Executing aws-iot-device-sdk-embedded-C after editing all the necessary certificates and keys in aws-iot-device-sdk-embedded-C

Step 1 ->Open Terminal in UBUNTU

Step 2 ->Navigate to aws-iot-device-sdk-embedded-C root folder

      cd aws-iot-device-sdk-embedded-C
Step 3 -> Create a build directory and navigate to build

     mkdir build
     cd build
Step 4 -> Enter the following CMake command to

[2021-09-21 21:39] dachalco commented on #1725
@gshvang Are you able to chime in?

[2021-09-21 22:45] yourslab commented on #1725
Yes, I'm assuming you are trying to setup an MQTT connection with the Greengrass Core. In doing so, you are able to use any MQTT client, including coreMQTT, which is bundled with FreeRTOS. Please follow the tutorial here:
https://docs.aws.amazon.com/greengrass/v2/developerguide/client-devices-tutorial.html

Under **Connect client devices** section, you will find setup instructions that are specifi

[2021-09-22 09:35] mleister97 commented on #1725
@yourslab Your assumptions are correct. Thanks for clearification. I will try to combine these two instructions to communicate between my ESP32 device and the Greengrass core device.

[2021-09-22 23:14] dan4thewin commented on #1719
Hi, @h4m3d92 .   As I understand it, AWS IoT requires TLS (see https://docs.aws.amazon.com/iot/latest/developerguide/transport-security.html ).  Some searching suggests there might be TLS support in the SIM800 series, but I can't vouch for that.

[2021-09-23 00:52] yourslab commented on #1726
From the root directory of the repository, do a `git submodule update --init --recursive --checkout`

[2021-09-23 06:42] pragnesh036 commented on #1724
Thank you for your reply.
We make a standalone device to monitor sensor parameters.
At the field, our signal strength varies as per the location.
 the device will give not data on the proper timestamp It doesn't matter,
But in my case, if the device gives data at a different time, it is acceptable for me.
But after some time the code does not accept the path of the certificate. After this conditio

[2021-09-23 06:56] pragnesh036 commented on #1724
Our main issue is that after some long testing, the code does not accept the certificate path and after a reboot, the code device automatically accepts the path of the certificate.

[2021-09-23 08:24] h4m3d92 commented on #1719
Hi @dan4thewin
Yes, It seems despite some AWS IoT documents, TCP connection is not supported!
Thank you

[2021-09-23 12:29] mleister97 commented on #1725
@arslan77 I can highly recommend checking out this tutorial: https://aws.amazon.com/de/blogs/compute/building-an-aws-iot-core-device-using-aws-serverless-and-an-esp32/

Worked fine.

[2021-09-23 13:24] #1725 closed

[2021-09-23 22:34] #1719 closed

[2021-09-24 13:39] mleister97 opened #1727 "Sporadic Connection issues between AWS Thing (ESP32) and Greengrass Core device"
I am trying to setup a MQTT connection between an AWS Thing (ESP32) and my greengrass core device.
- Sometimes the ESP is not even able to connect to the greengrass core device.
- Most of the time it is possible to connect to the greengrass device but I am not able to receive any messages (The ESP32 logs showing the log "Publishing successful")
- In some rare cases I can connect and I am also able

[2021-09-24 23:41] dan4thewin commented on #1727
Hi, @mleister97 .  I'm sorry to say that the library you're using appears to be based on very old code.  I recommend you consider using coreMQTT on top of FreeRTOS.

[2021-09-27 14:12] mleister97 commented on #1725
I ended up using freeRTOS following the tutorial here:
https://docs.aws.amazon.com/greengrass/v2/developerguide/client-devices-tutorial.html (Until section Connect client devices).
https://docs.aws.amazon.com/freertos/latest/userguide/getting_started_espressif.html
https://docs.aws.amazon.com/freertos/latest/userguide/gg-demo.html

[2021-09-27 14:14] mleister97 commented on #1727
Thanks, working fine. Someone should mention that this library **is not working with Greengrass V2** in the readme file.

[2021-09-27 14:14] #1727 closed

[2021-09-27 20:44] yourslab commented on #1725
Happy to see that it worked for you, @mleister97. Feel free to reach out for more questions.

[2021-09-27 20:48] yourslab commented on #1726
Hi @Shivampatel001, did this work for you?

[2021-09-28 04:12] Shivampatel001 commented on #1726
Yes @yourslab it worked for me thank you so much

[2021-09-28 04:14] Shivampatel001 commented on #1726
@yourslab  I am facing a new error can you help
When i'm trying to execute the  command after navigating to bin folder
    ./mutual_demo_authenciate
it shows no directory found

[2021-09-28 05:22] yourslab commented on #1726
You should do `ls` first to check the name of the program. Most likely it is `./mqtt_mutual_auth_demo`

[2021-09-28 05:54] Shivampatel001 commented on #1726
@yourslab sir the name is ./mqtt_demo_mutual_auth but when iam tryins list directory(ls) command the bin folder is empty.

[2021-09-28 06:07] yourslab commented on #1726
Have you run `make` from the build directory? If you did, what is the output?

[2021-09-28 06:15] Shivampatel001 commented on #1726
@yourslab  yes I executed make command after executing cmake ..

[2021-09-28 16:43] yourslab commented on #1726
Can you please show the output after entering `make` so that we can help you debug?

[2021-09-28 17:30] dan4thewin commented on #1724
Hi, @pragnesh036 .  Is this a battery powered device?  I'm wondering if possibly some undervoltage situation is causing intermittent failures.

[2021-09-29 04:37] pragnesh036 commented on #1724
NO, our device is not a battery power device, we have an AC source that is converted into stable DC. If my GSM network is stable, then my issue will not generate, but I am preparing for the worst situation. Because in the working field the network is not predictable.

[2021-09-29 04:44] Shivampatel001 commented on #1726
Yes @yourslab sir
![Screenshot from 2021-09-29 10-08-29](https://user-images.githubusercontent.com/70810342/135204658-f6a3eb53-2b3e-4088-9d73-d7b7284da3fa.png)

[2021-09-29 17:36] amit1barthwal opened #1730 "AWS SIgV4 for POST request for Multipart file Upload"
# CSDK Multipart initate request.
## Tried to create AWS sigv4 Post request to initiate the Multipart file upload. Below is the reponse received from AWS.

Received HTTP response from multipartbuckettestedge.s3.us-east-1.amazonaws.com/test.txt...
[DEBUG] [DEMO] [http_demo_s3_upload.c:1390] Response Headers:
x-amz-request-id: BMZNBZ33QWQHXRNP
x-amz-id-2: CwgDnNRUc+UJSJ8DB26rX1eNsUv5EWw4f7DSyZDgh4wj

[2021-09-29 19:04] yourslab commented on #1726
Please try to run `make mqtt_mutual_auth_demo`. It looks like it is not adding to the default `make` target because some flags are not defined. Please make sure you ran CMake as shown here: https://github.com/aws/aws-iot-device-sdk-embedded-C#configuring-mutual-authentication-demos-of-mqtt-and-http

[2021-09-29 19:11] Shivampatel001 commented on #1726
@yourslab  executing make  mqtt_demo_mutual_auth didnt work
error:
make: *** No rule to make target 'mqtt_demo_mutual_auth'.  Stop.

[2021-09-29 19:13] Shivampatel001 commented on #1726
@yourslab  I am so much confused with this thing

[2021-09-29 19:20] Shivampatel001 commented on #1726
@yourslab  I executed make mqtt_demo_mutul_auth and I got this as outpu
![Screenshot from 2021-09-30 00-48-09](https://user-images.githubusercontent.com/70810342/135334639-badbbc4b-5107-480d-9781-3679920da8da.png)

[2021-09-29 19:24] yourslab commented on #1726
Please follow the instructions in the link I sent you. You have not defined `AWS_IOTENDPOINT`, `CLIENT_CERT_PATH`, `CLIENT_PRIVATE_KEY_PATH`.

[2021-09-29 19:26] Shivampatel001 commented on #1726
@yourslab ok sir I will try and get back to you

[2021-09-30 19:07] Shivampatel001 commented on #1726
@yourslab  sir I am not able to do this , can you do it for me please?

[2021-09-30 22:03] gshvang commented on #1716
Hi @vadimceb

Sorry for the delayed response. Please can you check if you have configured the claim crdentials in the demo_config.h For the fleet_provisioning_with_csr_demo you also need to configure claim credentials, with the proper policy, and create the fleet provisioning template on the cloud. You can refer the comments mentioned in demo_config.h [https://github.com/aws/aws-iot-device-sdk-emb

[2021-09-30 22:23] yourslab commented on #1726
When compiling with CMake, you must run the following command:
[code]

[2021-10-01 00:03] gshvang commented on #1695
Closing the issue as the fix has been merged in the repository. Thanks

[2021-10-01 00:03] #1695 closed

[2021-10-01 15:31] vadimceb commented on #1716
Hi @gshvang,

yep certificates and policy were in place.
I've increased the size of this definitions inside config file
[code]
and now the demo works perfectly.
Thank you!

[2021-10-01 17:07] gshvang commented on #1716
Hi @vadimceb

I am glad to hear that it worked. Please reach out to us if you have any further questions.

[2021-10-01 17:07] #1716 closed

[2021-10-01 17:45] h4m3d92 opened #1731 "FreeRTOS usage"
Hi,

I am unsing STM32F103C8+Quectel M95 in my device. We are going to use AWS IoT MQTT. I wonder do I have to use freeRTOS in my code? does it give us any extra features in AWS?

[2021-10-02 01:37] gshvang commented on #1730
Hi @amit1barthwal ,

Kindly Can you share what the headers you are adding to the request.

Thanks

[2021-10-02 19:52] zwilcox opened #1732 "NETWORK_SSL_READ_ERROR when aws_iot_mqtt_subscribe after a reconnect."
I have an intermitted issue.  I'm not sure how to resolve it.

My device disconnects from IoT and reconnects just fine.
It subscribes to a bunch of topics just fine.

Then, after a `aws_iot_mqtt_subscribe`, I get a `NETWORK_SSL_READ_ERROR`.
My device then attempts to reconnect.
Successfully reconnects.
Subscribes to a bunch of topics just fine.
Then when it comes to the same topic that caused an i

[2021-10-04 14:46] yourslab commented on #1726
Hello, @Shivampatel001. Were you able to resolve the issue?

[2021-10-04 14:59] Shivampatel001 commented on #1726
No @yourslab  I got same error every time so I decided to quit this project.

[2021-10-04 15:30] #1726 closed

[2021-10-04 21:20] cobusve commented on #1731
You do not have to use FreeRTOS to get the functionality you need from things like coreMQTT to connect to the AWS IoT Core broker. The embedded C-SDK libraries have all been designed to work without FreeRTOS as well.

[2021-10-05 07:37] amit1barthwal commented on #1730
Hi @gshvang,

I have tried same library for the refrence. Now after updating the proper query parameter in the `sigv4HttpParams` structure i am able to get the uploadId and even i am able to push the multipart upload.
Now in the application when i am trying to upload the part with part size more then 40KB, it is giving below error
`[core_http_client.c:1849] Unable to send packet: Timed out in tran

[2021-10-05 21:22] gshvang commented on #1730
Hi @amit1barthwal,

I would recommend try increasing the timeout by setting the appropriate value of (HTTP_SEND_RETRY_TIMEOUT_MS) config in config file as required by your application instead of removing the code. Please reach out to us if you have any further questions.

Thanks

[2021-10-05 22:37] gshvang commented on #1732
Hi @zwilcox

It seems that you are trying to subscribe to one of the topics that is reserved with MQTT Broker. Thats why you are facing the issue while subscribing to the same topic. If you try to subscribe to one of the reserved topic Broker will not allow you.

Also I would recommend you using the coreMQTT Library instead of using the older MQTT Library.

Please reach out to us if you have any o

[2021-10-06 08:13] amit1barthwal commented on #1730
Hi @gshvang,

Thanks for the response.
I checked the coreHTTP library further. Here `HTTPClient_GetCurrentTimeFunc_t getTime` needs to be set. I am passing the below method `getTimestampMs_new` to set this vaiable `response.getTime` as mention below.

static double getTimestampMs_new( void )
{

	struct timeval  tv;
	gettimeofday(&tv, NULL);

	double time_in_mill =
	         (tv.tv_sec) * 1000 + (t

[2021-10-06 16:14] pdt590 opened #1733 "[Question] How to create device shadow automatically?"
I have a huge iot devices, i want to create device shadow for each device automatically
How can i do that without using aws console?

Thank you so much

[2021-10-06 23:57] yourslab commented on #1724
@pragnesh036 So based on your log message, `fopen` is returning `NULL`, and there are many reasons why this can happen. To find this reason out, you can print `errno` by `#include <errno.h>` in `openssl_posix.c` and changing this [line of code](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/platform/posix/transport/src/openssl_posix.c#L317-L319) to
[code]
My guess is that some file

[2021-10-08 05:27] amit1barthwal commented on #1730
Hi @yourslab,

Thanks for the response.

`HTTPClient_Send()` is not returning anything. After debuging the code, found that applicaiton is getting closed at `Openssl_Send() -> SSL_Write()`  method which is called inside `sendHttpData()`. This issue is reproducible with any # of chunk size. With 5MB of chunk size after 15 chunks upload this issue is coming.
`USER_BUFFER_LENGTH` size already increas

[2021-10-08 08:35] #1733 closed, assigned to nobody

[2021-10-28 00:03] n8o opened #1738 "Support for coreMQTT-Agent"
Are there any plans to support coreMQTT-Agent in the SDK?

[2021-10-28 11:29] hrishikesheb opened #1739 "How to send telemetry data using MQTT_DEMO_MUTUAL_AUTH"
Hello sir,
I am successfully able to run the demo by publishing a "Hello world" message. But I wanted to send telemetry data from the device to the AWSIoT cloud, can you tell me if it is possible with this demo.

[2021-10-29 02:03] una801 opened #1740 "Failed to send data over network: SSL_write of OpenSSL failed"
Hello
I succeeded in a project to send CAN Data to the server using AWS IoT Embedded C SDK.

This time, the following error occurs during the test to send the received data to the server after writing RS232 data of the battery pack.

`[INFO] [DEMO] [mqtt_demo_mutual_auth.c:989] Subscribing to the MQTT topic PESS/IoT/Battery.
[ERROR] [Transport_OpenSSL_Sockets] [openssl_posix.c:814] Failed to send

[2021-10-30 00:14] yanjos-dev commented on #1740
Hello @una801, what version of the repository you are using?

[2021-10-30 00:28] yanjos-dev commented on #1739
Hi @hrishikesheb, are you familiar with this documentation?
https://docs.aws.amazon.com/iot/latest/developerguide/iot-tutorials.html

This would be a good starting point.

[2021-10-30 02:01] hrishikesheb commented on #1739
@yanjos-dev Thank you very much this documentation was super helpful. I will go through and see if I have any more doubts.

[2021-10-31 23:35] una801 commented on #1740
Sorry for the late reply. The confirmation was delayed because it was the weekend.
I don't know how to check the repository version....

In my opinion, there is no problem with receiving CAN Data, but I thought it was a problem with the codeword because I saw only RS232 Data as having a problem, but is it a problem with the version apart from that code?

[2021-11-01 04:04] hrishikesheb commented on #1739
Hi @yanjos-dev is there any demo c code which sends telemetry data which can be viewed in AWSIoT.

[2021-11-01 05:27] yourslab commented on #1724
@pragnesh036 Any update on this issue?

[2021-11-01 10:35] PierrePeng opened #1741 "Is it support on NuttX?"
I am trying to use AWS-IoT on our first-generation production which runs on the NuttX system.

I wanna is it supports NuttX?  I encouters difficulties from porting OpenSSL which is neccessary library for the AWS-IoT.

[2021-11-01 17:20] yanjos-dev commented on #1739
Can you provide some additional information about your use case and how you would like to view the data? The MQTT demo that you have ran should allow you to see the data published to the topic in the AWS IoT console. This demo documentation shows an example of how you should see "Hello World" in the console.
https://docs.aws.amazon.com/freertos/latest/userguide/mqtt-demo-ma.html

[2021-11-01 17:34] hrishikesheb commented on #1739
Yes I have successfully published a "Hello World" message and also viewed it in the AWSIoT console. Type of data is the time series data. If I run this code in any device running ubuntu OS the same thing will happen it will just keep on publishing "Hello World" message instead I want it to connect to AWSIoT and start sending sensor data which looks like this.

[code]
I know there is no fixed code

[2021-11-01 23:23] yanjos-dev commented on #1741
Hi @PierrePeng, this will depend on the library. Some libraries do not have hardware specific dependencies while other libraries require some porting to be done. What libraries are you interested in using?

[2021-11-02 00:19] yanjos-dev commented on #1738
I'm unfamiliar with the repository that you shared, but I'd like to point you in the right direction.

The coreMQTT-Agent library requires a port for a MQTT protocol to work. The interfaces that are required can be found in the README.md file of the [coreMQTT-Agent repository](https://github.com/FreeRTOS/coreMQTT-Agent).

Here are some examples that show how to port the coreMQTT-Agent library to b

[2021-11-04 02:37] PierrePeng commented on #1741
It seems difficult for me to port the OpenSSL to Cortex-M33. And there are some questions that confused me.

1. According to README.MD, [OpenSSL](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/a54643fe39bc90a964c96716bc8055097d099ab5/platform/CMakeLists.txt#L5) is a dependency library for demos and tests. So can I build this project if I don't have OpenSSL?
2. If **Yes**, how can I conf

[2021-11-04 02:51] una801 commented on #1740
please help me..

[2021-11-04 21:40] ravibhagavandas commented on #1741
Hi @PierrePeng

The C-sdk libraries rely only on a [transport interface](https://github.com/FreeRTOS/coreMQTT/blob/main/source/interface/transport_interface.h)  which can be ported to any underlying libraries not necessarily OpenSSL.

For sample reference of how to implement transport interface using mbedtls or wolfssl with FreeRTOS+TCP stack you can refer the files [here](https://github.com/FreeR

[2021-11-07 05:46] ravibhagavandas commented on #1724
Where you able to get the logs displayed as @yourslab mentioned ?
From your logs, all the subsequent connections fails with DNS resolution error.  Error code -11 implies `Resource temporarily unavailable` for DNS resolution which indicates system is hitting some limit on resources. This could be due to some resource leaks as mentioned above. Did you make sure there are no open connections or file

[2021-11-10 15:22] yiting16 opened #1744 "sockets_posix.c implementation is not portable because it assumes SO_SNDTIMEO/SO_RCVTIMEO is supported"
Refer to the POSIX documentation [1] which says that it is "implementation-defined whether the SO_SNDTIMEO/SO_RCVTIMEO option can be set."

[1] https://pubs.opengroup.org/onlinepubs/7908799/xns/setsockopt.html

Proposed fix:
https://github.com/aws/aws-iot-device-sdk-embedded-C/pull/1743

The fix is to ignore the error if SO_SNDTIMEO/SO_RCVTIMEO is not supported.

I wonder if there are any side eff

[2021-11-10 20:30] ravibhagavandas commented on #1738
Hi @n8o

To add on to this, the freertos porting implementation of coreMQTT agent library can be found in the coreMQTT Agent Demo repository [here](https://github.com/FreeRTOS/coreMQTT-Agent-Demos/tree/main/lib/FreeRTOS/mqtt-agent-interface). Since you are using FreeRTOS along with the  ESP-IDF, the port could be directly integrated into your project. Once porting implementation, you can take a lo

[2021-11-10 23:52] tianmc1 commented on #1739
Hi @hrishikesheb ,

In the MQTT mutual auth example, the action of publishing to a MQTT topic is done in [publishToTopic()](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/a54643fe39bc90a964c96716bc8055097d099ab5/demos/mqtt/mqtt_demo_mutual_auth/mqtt_demo_mutual_auth.c#L1245) and the payload of the publish is defined in [here](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/a54

[2021-11-11 00:14] tianmc1 commented on #1740
Hi @una801 ,

Sorry about the delayed response. From the logs it looks like your project is based on the MQTT mutual auth demo. I notice a difference between your code and the original demo. In the `publishToTopic` function in the original demo, there is  a [line](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/mqtt/mqtt_demo_mutual_auth/mqtt_demo_mutual_auth.c#L1257) that get

[2021-11-12 00:08] una801 commented on #1740
It was a very simple question.
As you answered, I rewritten the public Toxic part while looking at the demo, and it was solved.
While testing and modifying the code, I made these simple mistakes and got in trouble.
Thanks for your help

[2021-11-12 11:45] #1744 closed

[2021-11-13 01:27] ravibhagavandas commented on #1741
Hello,
Did this answer your question? We will close the issue if we don't hear back from you soon.

[2021-11-15 05:28] #1740 closed

[2021-11-15 05:28] una801 commented on #1740
Thanks

[2021-11-15 05:32] una801 opened #1746 "Incoming packet will be dumped: Packet length exceeds network buffer size"
Hi,

I'm going to send hundreds of flying data to IoT Core every second.
He is using an LTE modem, and in the process of transmitting data using mqtt, the connection is being disconnected due to an error related to network buffer.
In the case of TCP, I understand that the maximum transport network packet is 8 kb, so can we increase this to more than 1024 on sdk?

The current error is as follows.

[2021-11-15 11:29] muneebahmed10 commented on #1746
Hi @una801,

Transport packets != MQTT packets. TCP fragmentation occurs at the transport layer, while MQTT is an application layer protocol. The coreMQTT library has no knowledge of any packets in the transport layer; your network stack is responsible for assembling them and passing their data to the coreMQTT library through the library's transport interface. The network buffer is the buffer to h

[2021-11-15 11:33] muneebahmed10 commented on #1724
Hi @pragnesh036,

We will close this issue due to inactivity. If you have any other questions please open a new issue.

[2021-11-15 11:33] #1724 closed

[2021-11-15 17:44] ravibhagavandas commented on #1741
We will close this issue due to inactivity. If you have any other questions please open a new issue.

[2021-11-15 17:44] #1741 closed

[2021-11-15 23:52] una801 commented on #1746
@muneebahmed10
Thank you for your answer.
When we say that we need to increase the network buffer, do you mean that we can modify the definition item inside the sdk?
If you change the network buffer part of the definition, there will be an error, so I would like to ask if there is anything additional to modify.

[code]
->Define item in mqtt_mutual_auth part

[2021-11-16 03:30] muneebahmed10 commented on #1746
That define is in a file named `demo_config.h`. It's part of the demo code and not in coreMQTT or any other library in the SDK. You can do whatever you want with the demo code.

[2021-11-17 05:22] MaazSk opened #1747 "MQTT retained messages not working"
Hi,

I am using AWS to connect my esp32 to the AWS services, When I am trying a simple publish from the device then I am able to publish a message but when I am using retained messages to publish to the AWS then the client is getting disconnected. I tried the same using MQTTFx and also from the console dashboard of AWS but every time I am getting disconnected when I set the messages to retain.

An

[2021-11-17 23:20] rpcme opened #1750 "Please add dependencies for Amazon Linux 2"
The dependencies are slightly different for OpenSSL, and openssl-devel will conflict with the following.

[code]

Documenting this for our own EC2 distribution will reduce friction for customers working on the default AMI on EC2.

[2021-11-18 21:59] aggarg commented on #1747
Would you please elaborate your setup? Do you have a client running on ESP32 subscribed to a topic and it gets disconnected when you publish a retained message? Also, which code are you using on the client?

Thanks.

[2021-11-20 05:59] MaazSk commented on #1747
Hi @aggarg,

Sorry for the delay in response.

Setup:
I am using MQTTFx as a client to connect with the AWS server. The connection is successful between the AWS server and MQTTFx.

I am trying to publish retained message from MQTTFx to the AWS server on the topic `device_id/retained_messages`. Whenever I publish a message with the MQTT retained flag the client gets disconnected. On the other hand,

[2021-11-20 20:31] aggarg commented on #1747
I tested the following:

1. Subscribe to the `test/retainedmsg` topic:
[code]

2. Publish a retained message on the same topic:
[code]
Note that `-r` flag is for retained message. I verified that the message was retained by terminating the `mosquitto_sub` and re-subscribing - I got the message again as expected.

By any chance, are you using the same client ID for 2 clients? If not, can you enable

[2021-11-22 06:03] MaazSk commented on #1747
I will try the above steps today and will update you the same

[2021-11-24 19:04] aggarg commented on #1746
I am closing this issue. Feel free to open a new issue if you have more questions.

[2021-11-24 19:04] #1746 closed

[2021-11-26 05:09] buneshwarEc opened #1758 "Fleet provisioning"
Hi ,

I'm new to iot and aws.
I'm working on a project which requires the use of fleet provisioning.
I wanted to run the demo of fleet provisioning but as there aren't any docs to refer to , can someone guide me through it?
I referred  to the freeRTOS tutorial and got connected to the iot-core

Device - ESP32
OS - Ubuntu 20.04

References  -
https://docs.aws.amazon.com/freertos/latest/userguide/ge

[2021-11-26 05:22] #1758 closed

[2021-11-29 07:21] buneshwarEc opened #1759 "Fleet Provisioning."
Hi ,
I'm new to iot-aws.
I went through the process for demo of fleet provisioning.
I stuck at How to i burn this on device.
This is working perfectly when i run at console but how do i the same on the device.

I've went through the freeRTOS guide and flashed the default demo.
[https://docs.aws.amazon.com/freertos/latest/userguide/getting_started_espressif.html](url)

Device - ESP32
OS - Ubuntu 20

[2021-11-30 10:18] yiting16 opened #1761 "Indirect dependency to OpenSSL library cannot be represented by CMake for some situation"
The openssl_posix target has the following dependencies:

[code]

as we can see, the OpenSSL libraries (libcrypto.so, libssl.so) are put in the PRIVATE type dependency.

For normal situation there won't be any issue when doing native build or cross-build.
For some situation, if the OpenSSL libraries are not in their standard location (like /lib, /usr/lib, etc) the following error is seen when link

[2021-11-30 17:22] aggarg commented on #1761
Thank you for reporting the issue and providing a detailed explanation.

[2021-11-30 19:03] #1761 closed

[2021-12-02 08:03] Heena2411 opened #1764 "Failed to receive data In eventcallback with large JSON payload"
HI,
I am using AWS SDK on my laptop having Ubuntu 20.04.
I am trying to send costume JSON payload in desired state. While JSON data length is large, not able to get response in eventcallback. With smaller data it is working fine.
Tried by changing NETWORK_BUFFER_SIZE, AWS_PAYLOAD_BUFF_SIZE. does this issue related to JSON payload length? Is there any limitation on length?

 working payload:
 {
	"s

[2021-12-03 01:21] jasonpcarroll commented on #1764
Thank you for bringing this to our attention. The team is looking into it.

[2021-12-03 04:54] Heena2411 commented on #1764
Thanks for quick response.
I am referring **eventCallback( MQTTContext_t * pMqttContext, MQTTPacketInfo_t * pPacketInfo, MQTTDeserializedInfo_t * pDeserializedInfo )** and able to get payload print in **updateDeltaHandler** with small payload.

[2021-12-06 07:08] abhidixi11 commented on #1759
Hello @buneshwarEc
I believe you have asked the same question [here](https://github.com/aws/amazon-freertos/issues/3431), therefore I'm closing this issue. If you have any further questions please ask on the other thread or open a new issue.
Thanks !

[2021-12-06 07:08] #1759 closed

[2021-12-06 19:07] jasonpcarroll commented on #1764
Hi @Heena2411,
Sorry for the late response - I did not see that you replied. I was wondering if you could provide me with some additional information. Is this for an mqtt demo - if so which one? What version of the code are you using?

[2021-12-06 20:28] jasonpcarroll commented on #1747
Since you have not updated - I am going to close this issue. If there is still a problem, please re-open the issue. Thank you.

[2021-12-06 20:28] #1747 closed

[2021-12-07 06:08] yunfeilu-dev opened #1766 "mqtt_demo_mutual_auth failure due to "SSL_connect failed to perform TLS handshake, Failed to establish a TLS connection""
Hi community,

I recently tested this sdk on my arm device and had an issue during mutual authentication.
![image](https://user-images.githubusercontent.com/93316392/144972118-78c98e22-ce28-4043-9b91-05b1e354f252.png)

After checking the packet capture, I found that it's client which initiate the connection closure.
<img width="792" alt="image" src="https://user-images.githubusercontent.com/933163

[2021-12-07 19:32] jasonpcarroll commented on #1766
Hi @yunfeilu-dev,
Thank you for reaching out. I've reached out to the team to look into this for you.

[2021-12-07 23:47] muneebahmed10 commented on #1766
Hi @yunfeilu-dev,

Can you try connecting to the MQTT broker with the same certs using another client, such as [mosquitto](https://mosquitto.org/) or the [AWS IoT Python SDK](https://github.com/aws/aws-iot-device-sdk-python-v2)? E.g. with mosquitto,
[code]
and change the endpoint, private key, and certificates.

[2021-12-08 23:03] cpp-59487 opened #1768 "Is QoS > 0 supported in MQTT?"
Hi,

I am wondering if messages with QoS > 0 are supported? If so, how could I set a timeout on the library so that it knows when to resend these messages when necessary? Thanks.

[2021-12-09 04:16] abhidixi11 commented on #1768
Hello @cpp-59487

Yes, it is supported. For QOS > 0,  messages would be resent only if the underlying transport connection goes down and the application reconnects to the broker. Since MQTT is implemented over TCP it relies on TCP to handle re-transmission if the  packets are lost.
Here is the code where the library handles sending of un-acked messages https://github.com/FreeRTOS/coreMQTT/blob/mai

[2021-12-09 04:25] abhidixi11 commented on #1739
Hello @hrishikesheb
I'm closing this issue, if you have any further questions please feel free to open another issue.
Thanks.

[2021-12-09 04:25] #1739 closed

[2021-12-09 04:28] abhidixi11 commented on #1738
Hello @n8o I'm closing this issue. If you have any further questions, please feel free to open another issue.

[2021-12-09 04:28] #1738 closed

[2021-12-10 02:28] yourslab commented on #1730
Hi @amit1barthwal. If it's not being set, could you run it through the debugger in order to see the last line that is executed?

[2021-12-10 03:13] paulbartell commented on #1766
@yunfeilu-dev : Looking at your logs a bit closer, it looks like you may be confusing the RootCA certificate with the Device certificate.

In your screenshot of running the SDK, "/data/cert.pem" is used at the RootCA cert and "/data/certificate.pem.crt" is used as the client certificate.

While your call to openssl s_client uses "CA.pem" as the RootCA cert and "cert.pem" as the client certificate.

[2021-12-13 02:46] yunfeilu-dev commented on #1766
Thanks for the suggestion. I tried this command, but got the follow error:

![Image from iOS (5)](https://user-images.githubusercontent.com/93316392/145744171-d147276d-2a6a-4c44-9818-be94f16a6b6a.png)

I was able to make a successful call on my linux x86 64bit vm, but not in my arm device. Based on the output error, I assume there is something wrong when I copy and paste all the credentials/certs

[2021-12-13 17:04] yourslab commented on #1730
I am closing this issue but please feel free to re-open if the problem arises again

[2021-12-13 17:04] #1730 closed

[2021-12-13 19:01] cpp-59487 commented on #1768
Hi @abhidixi11,

Thanks for the answer. Just wonder, from my understanding, MQTT does not need to be implemented over TCP. Let's say if I would like to have MQTT implemented over UDP, how would the library support the case QoS > 0? Thanks!

[2021-12-13 19:59] abhidixi11 commented on #1768
Hello @cpp-59487
Thanks for getting back. MQTT has to be implemented over TCP or over other network protocols that provide ordered, lossless, bi-directional connections.  This is from the [MQTT spec.](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html). If the protocol is other than TCP then it needs to be lossless and ordered, so UDP is not allowed.

[MQTT-SN](https://www.oasis-op

[2021-12-14 03:09] yunfeilu-dev commented on #1766
Hello, thanks for the suggestion. I have double checked the device cert/rootCA/private key to ensure that I put the right thing in the right place, but the issue still exists.

[2021-12-14 23:08] paulbartell commented on #1766
@yunfeilu-dev , The error you received from your call to mosquitto_pub indicates a mismatch between your private key and certificate.

I noticed that the filenames in your previous message don't quite match up with each other. The easiest way forward is probably re-generating your key / certificate pair so that the names are clear.

Here's an example of doing so using the aws cli:
[code]

Note tha

[2021-12-20 18:30] pvyawaha commented on #1768
Hello @cpp-59487,

Closing this ticket now, please reopen for the same topic or create a new one for other topics.,

[2021-12-20 18:30] #1768 closed

[2021-12-20 22:07] pvyawaha commented on #1764
Hello @Heena2411 ,

Closing this ticket now but please reopen if you need support on the same topic.

[2021-12-20 22:07] #1764 closed

[2021-12-20 22:14] pvyawaha commented on #1766
@yunfeilu-dev ,

Did Paul's answer helped you resolve the issue or you still have question on this topic?

[2021-12-21 06:45] vishalSpintly opened #1772 "ATECC608A TPM reading and seamless integration using PKCS11 library in AWS IOT device SDK"
Hello,
We have an IoT device running Linux.
Currently, the certificates are stored on file system and use the AWS IOT Core C library to connect and authenticate with the AWS servers.

We are evaluating on our device, a ATECC608A TPM ( see: http://www.microchip.com/ATECC608A) connected over an I2C interface to store the keys.
So far, using resources available on the internet, we are able to configu

[2021-12-21 19:00] pvyawaha commented on #1772
Hello @vishalSpintly ,

You can refer to the PKCS11 layer for ESS608A here - https://github.com/aws/amazon-freertos/blob/main/libraries/abstractions/pkcs11/ecc608a/core_pkcs11_secure_element.c

And here is my example for key provisioning - https://github.com/aws/amazon-freertos/tree/main/demos/dev_mode_key_provisioning

[2021-12-23 06:50] Heena2411 commented on #1587
I was facing the same issue due to invalid time on device.

[2021-12-25 14:30] vishalSpintly commented on #1772
My device uses Linux, and i have the PKCS11 infrastructure up and running on the OS.
However, Currently the code to connect and authenticate to AWS IOT Core ( mbedTLS library) uses credentials with a path pointing to a file that has the private key stored on the file system.
What can you recommend as an alternative way to configure the credentials by making use of PKCS#11?

[2021-12-25 15:45] vishalSpintly commented on #1772
Hello @pvyawaha ,

We are using mbedTLS to establish the connection with the AWS IOT server.
How do i go about using this implementation of the PKCS11 layer in my use case with mbedTLS. How do i configure mbedTLS to use the PKCS11 interface for reading the private key data from the TPM chip?
I am not able to identify any way to move forward and any guidance is appreciated.

[2021-12-26 06:38] vishalSpintly commented on #1772
Thank you for the pointers. these are helpful for understanding provisioning of the chip during development.
Since I am already using mbedTLS for authenticating with AWS IOT Service could you direct me to any effort related to the same?

[2022-01-03 20:16] kumarfirmware opened #1773 "What changes I should make so that I will be able to cross compile AWS IOT Embedded C SDK for poky linux?"
Hi Team,

I have installed AWS IOT Embedded C SDK. I guess 202108.00 is the latest release. I am able to compile the Demo project on Ubuntu Linux.

What changes I should make so that I will be able to cross compile for poky linux.

Can you please help me with this as soon as possible.

I am trying hard but I am not successful. Any help in this is highly appreciated.

Thanks, Regards,
Kumar.

[2022-01-04 05:51] abhidixi11 commented on #1773
Hello @kumarfirmware
Thanks for reaching out.

Can you please elaborate on what you different things you have tried and where are you stuck ?  Which demo are you trying to compile ?

Have you looked at our [porting guides ](https://github.com/aws/aws-iot-device-sdk-embedded-C#porting-guide-for-20200900-and-newer-releases)?

Thanks!

[2022-01-04 06:46] kumarfirmware commented on #1773
Hi Abhdixi11,

Thanks for your quick response.

I have looked at the porting guide. It is not mentioned any where regarding the steps how to cross compile for any other platform.

I am trying to cross compile the demo for poky Linux. My tool chain is poky Linux.

Can you please let me know which part of the make file or cmake file should I change to cross compile with my tool chain poky Linux.

Th

[2022-01-04 07:01] abhidixi11 commented on #1773
Thanks for clarification @kumarfirmware
Here are a few of old issues which discuss  about cross compilation :

https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/1382
https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/1579
https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/1606
https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/1635

If these don't answer your q

[2022-01-04 07:59] kumarfirmware commented on #1773
Hi Abhdixi11,

Thanks for your immediate response. I have gone through the links you have shared, but I still could not figure out the correct steps.

But I tried following commands, please check if this makes sense and please check why the following error is coming?

kumar@ubuntu:/opt/AWS_IOT_202108/aws-iot-device-sdk-embedded-c$ source /opt/poky/2.3.2/environment-setup-cortexa8hf-neon-poky-linux

[2022-01-04 18:55] abhidixi11 commented on #1766
Hello @yunfeilu-dev,  I'm closing this issue. If you still have questions please feel free to open a new issue. Thanks.

[2022-01-04 18:55] #1766 closed

[2022-01-04 20:51] yourslab commented on #1773
Cmake supports specifying the cross-compiler toolchain through the [`CMAKE_TOOLCHAIN_FILE`](https://cmake.org/cmake/help/v3.2/variable/CMAKE_TOOLCHAIN_FILE.html) variable that you can pass in the Cmake configuration command (as `cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=<path/to/toolchain/file>.cmake`). You must use that build command instead of just `cmake`.

An example toolchain file for an ARM

[2022-01-05 00:21] abhidixi11 commented on #1772
Hello @vishalSpintly does information above answer your questions ?

[2022-01-05 07:06] vishalSpintly commented on #1772
Hello @abhidixi11 ,

Unfortunately it does not. So the PKCS11 layer is not of any interest to me.

At https://github.com/MicrochipTech/mbedtls-examples is an integration of the mbedTLS library with the ATECC608A.

We use the mbedTLS library to establish the connection with the AWS IOT Core service.
With the above listed library integration it should be  possible to seamlessly connect to AWS IOT Co

[2022-01-05 09:07] Nomidia opened #1775 "[QUESTION] How to store private key when using the provisioning demo?"
Hi,
I'm migrating my aws iot code from v4_beta to the lasted version. I was using aws_iot_demo_provisioning_with_keys_and_cert.c to provision my devices before, it will get the certificate and private key.

Now I'm using fleet_provisioning_with_csr_demo.c for provisioning, how can I store the private key? I will use the iot certificate and private key to connect to aws iot and kvs.

Thanks

[2022-01-05 18:51] johnrhen commented on #1775
Hello Nomidia,

You should store the Claim private key you use to connect to AWS IoT in PEM format. The demo will convert the Claim private key from PEM to DER format during its execution. All you need to do is set the "CLAIM_PRIVATE_KEY_PATH" macro to the path of the PEM-encoded key. There's a [short setup guide](https://github.com/johnrhen/aws-iot-device-sdk-embedded-C/tree/main#configuring-the-

[2022-01-05 19:52] johnrhen commented on #1772
Hello @vishalSpintly,

You might find the [mbedtls_pkcs11_posix](https://github.com/johnrhen/aws-iot-device-sdk-embedded-C/blob/main/platform/posix/transport/include/mbedtls_pkcs11_posix.h) files to be helpful. They contain an implementation for the transport interface using a mutually authenticated TLS connection with MbedTLS for TLS and corePKCS11 for secure credential management. You can view a

[2022-01-05 21:02] cpp-59487 opened #1776 "[Bug] MQTT: states (publish records) in MQTTContext are not well maintained?"
HI, I found this issue occurs in the following scenario.

The following is pseudo code.
[code]

In the above case, I would expect `packet_id` returned from `MQTT_PublishToResend()` is 3. However, it turns out to be 0 which is `MQTT_PACKET_ID_INVALID`. I am not sure this is expected or a bug.

I find the cause of this comes from the following line https://github.com/FreeRTOS/coreMQTT/blob/main/sour

[2022-01-06 01:53] Nomidia commented on #1775
Hi John,

Now I have got corePKCS11_Certificate.dat and corePKCS11_Key.dat, how should I use them to connect to iot?
Because the certificate and private key are in pem format in other demos as follows
[code]

[2022-01-06 09:21] kumarfirmware commented on #1773
Hi Team,

I am still getting the following error. Can you please tell me where it is going wrong?

Also I do not see cmake file in my toolchain /opt/poky/2.3.2/environment-setup-cortexa8hf-neon-poky-linux-gnueabi?

Can you kindly help me with this as soon as possible.

Thanks, Regards,
Kumar.

kumar@ubuntu:/opt/AWS_IOT_202108/aws-iot-device-sdk-embedded-c$ cmake -S . -B build -DCMAKE_TOOLCHAIN_FIL

[2022-01-06 13:55] Heena2411 opened #1777 "Failed to receive data over network: SSL_read failed: ErrorStatus=(null)."
Hi
I am referring aws-iot-device-sdk-embedded-C SDK and doing below steps.
1. subscribe to shadow topics
2. send desired data
3. send reported data

while trying to run over Wi-Fi network it is working ok. But when I am connecting device with tallit module most of the time getting below error.

[ERROR] [Transport_OpenSSL_Sockets] [openssl_posix.c:817] Failed to receive data over network: SSL_read

[2022-01-06 15:56] vishalSpintly commented on #1772
Hello John,

This looks promising.
Let me study this and get back to you with further questions.

regards,
Vishal

[2022-01-06 18:01] johnrhen commented on #1775
Unlike the other demos, the Fleet Provisioning demo uses corePKCS11 for credential management, so you do not need to define macros containing the credentials. After the Fleet Provisioning demo generates the corePKCS11_Certificate.dat and corePKCS11_Key.dat files for a new Thing, the demo connects to IoT Core with the new DER credentials using its PKCS11 implementation of [mqtt_operations.h](https:

[2022-01-07 02:03] Nomidia commented on #1775
I mean after getting corePKCS11_Certificate.dat and corePKCS11_Key.dat files. How should I use them in other demos, such as shadow or mqtt, and other services like kvs. Although the provisioning demo can connect to iot core after provisioning.

For example, in kvs producer, there is a interface that uses iot credential as follows:
`STATUS createIotCredentialProviderWithTime(PCHAR iotGetCredentialE

[2022-01-07 12:25] vishalSpintly commented on #1772
Hello John,

In our case, having configured the PKCS11 Library support in the cryptoauth library from Microchip, we go on to install the library (PKCS11 provider) at  "/usr/lib/libcryptoauth.so"
The PKCS11 slot to be used to access the private key & certificates onboard the ATECC608A would be for example "pkcs11:slot-id=1".

Considering that AWS corePKCS11 library implements the standard PKCS11 in

[2022-01-07 18:55] cobusve commented on #1773
It seems like CMake is trying to process the output folder. All I can think is that your specification of the build folder is not succeeding,  can you try specifying -B ./build instead to ensure that CMake is looking at the right build location? I would also recommend deleting the build folder before you start to ensure you have a clean run.

[2022-01-07 19:00] johnrhen commented on #1775
If you'd like to use the credentials for the other demos, you'd have to either modify the Fleet Provisioning demo to generate PEM-encoded credentials or convert the credentials from DER to PEM after the demo has completed.

[2022-01-07 19:37] archigup commented on #1776
Thanks for the bug report! I've made a PR for a fix to coreMQTT.

[2022-01-07 20:51] #1776 closed

[2022-01-07 22:09] archigup commented on #1776
Fixed by https://github.com/FreeRTOS/coreMQTT/pull/187 and https://github.com/FreeRTOS/coreMQTT/pull/188

[2022-01-07 23:07] AniruddhaKanhere commented on #1777
Hello @Heena2411,

I am not sure which device are you working with and which 'Telit module' are you using?

When the status is '4' it means that the receive (recv) has failed to return enough bytes in the given timeout or there has been an error. I don't think that it would be caused by a slow network unless it is extremely slow leading to timeouts.

Can you answer my above questions so that we ca

[2022-01-08 05:58] paulbartell commented on #1772
@vishalSpintly: We have had a few requests for a similar feature in the past. The simplest way to accomplish this is to use a combination of cryptoauthlib built as a pkcs11 module and openssl with [libp11](https://github.com/OpenSC/libp11).

You will first need to decide if you plan on using [_p11-kit_](https://p11-glue.github.io/p11-glue/p11-kit/manual/) to proxy access to your pkcs11 module. p11

[2022-01-08 06:54] vishalSpintly commented on #1772
@paulbartell

Thanks !!

The functionality being targeted will run on a IOT gateway device ( which delicately brokers the message exchange between the AWS cloud and the individual IOT devices).
I believe libp11 should suffice as there is no concurrent access required.

I will check the above on my end. Hopefully i get the configurations right.
Do let me know you test findings. I will be keen to kn

[2022-01-08 10:36] Heena2411 commented on #1777
Thanks for the response.
As I have created multiple shadows, looks like when receiving response from cloud both payload (shadow1 and shadow2) response is getting jumbled or sometimes not able to receive payload for one shadow.
I have attached logs may that can help.

Things working fine over Wi-Fi , it might be possible application getting response from cloud immediately.

[AWS2.log](https://githu

[2022-01-08 12:48] vishalSpintly commented on #1772
i have your repository cloned.
Can you tell me where & how I need to specify openssl as tls library during the build of aws-iot-c-sdk ?

[2022-01-08 15:36] kumarfirmware commented on #1773
Hi Team,

I am still getting the same error. I am getting this error only when I am trying to cross compile AWS SDK for poky linux.

But my workspace with my source files, I am able to compile properly with out any errors.

Problem is when I am trying to compile using the AWS IOT SDK cmake file system. I am not sure what needs to be changed in the AWS IOT SDK cmake file to make it to compile with

[2022-01-08 18:13] abhidixi11 commented on #1772
Hello @vishalSpintly we have the instruction in Readme about OpenSSL version supported Linux platforms:
https://github.com/aws/aws-iot-device-sdk-embedded-C#build-dependencies
https://github.com/aws/aws-iot-device-sdk-embedded-C#building-and-running-demos
Thanks.

[2022-01-09 04:17] vishalSpintly commented on #1772
@abhidixi11 If your comment is in response to my query "where & how I need to specify openssl as tls library during the build of aws-iot-c-sdk", I have not received the answer yet.

For example, there could be some flag that needs to be set during cmake on the aws-iot-c-sdk build to indicate the preference for openssl over other options avaialble. If yes, what is that flag.

[2022-01-09 04:23] abhidixi11 commented on #1772
@vishalSpintly
At this time, this repository has the code which works with openSSL for TLS connection.  You can replace transport interface yourself if you want to make use of any other TLS library.

[2022-01-09 05:42] vishalSpintly commented on #1772
@abhidixi11
I am not particular about the TLS library.

My clear intent is to get the aws-iot-c-sdk based connection to AWS service using the ATECC608A seamlessly.
If this is done using openssl, or any other library there will be nor reason to complain as long as it works by using the credentials off the ATECC608A.

I can only try your suggestions at this moment.
So, I will give this [fork](https:

[2022-01-09 06:37] cobusve commented on #1773
Hi Kumar,

Unfortunately I am unfamiliar with Poky Linux, I do not have a Poky Linux system to test this on so the best I can do is guess here.

From what I can see - if you are able to build this on Ubuntu with CMake successfully I would expect that the problem is not with the FreeRTOS CMake setup, but rather with the setup of your CMake toolchain for Poky Linux.

From your command line above it

[2022-01-10 01:10] Nomidia commented on #1775
OK, I will modify my demo.

[2022-01-10 01:10] #1775 closed

[2022-01-10 19:38] paulbartell commented on #1772
@vishalSpintly : Regarding the marketing literature: [amazon-freertos](https://github.com/aws/amazon-freertos) does indeed support the ATECC608. That implementation is targeted to a bare-metal / FreeRTOS environment and is not particularly well suited for use in a linux environment. It's certainly possible to use that implementation on linux, but it is not consistent with how pkcs11 is typically u

[2022-01-11 20:32] yourslab commented on #1750
Hi Richard, you are right that it will conflict with OpenSSL 1.0.x because `FindOpenSSL(...)` will continue to default to the older version. Have you tried building `OpenSSL 1.1` from source then adding `-DOPENSSL_ROOT_DIR="/path/to/openssl11"` as a CMake flag?

[2022-01-12 01:21] paulbartell commented on #1772
@vishalSpintly : I've [updated the feature branch](https://github.com/paulbartell/aws-iot-device-sdk-embedded-C/commits/paulbartell/openssl_libp11_support) with some bug fixes and documentation. Please let me know if you have any questions about the setup.

[2022-01-12 23:14] archigup commented on #1777
Hi, the coreMQTT API is not thread-safe; if you need to use coreMQTT from multiple threads, you could protect access to the coreMQTT API using a mutex or consider using the coreMQTT-Agent instead.

[2022-01-16 03:26] cobusve commented on #1773
I am going ahead and closing this issue as there has been no response after 7 days and the problem seems to be a pky linux cmake setup problem and the build is working fine on the supported platforms like ubuntu.

If you have new information or more questions please feel free to re-open this issue.

[2022-01-16 03:26] #1773 closed

[2022-01-18 22:16] archigup commented on #1777
Hey, if you still are having trouble, feel free to create a new issue or reopen this one.

[2022-01-18 22:16] #1777 closed

[2022-01-19 06:30] MaazSk opened #1782 "Alternative to `aws_iot_mqtt_yield()`"
I am using aws-iot-device-sdk with esp-idf. I am unable to receive messages to which I have subscribed. I read the documentation that I need to call `aws_iot_mqtt_yield()` function faster than the publish message. But I believe the aws subscribe functionality should work on event base or in callback fashion. So whenever I receive a message I should get an event or a callback. So is there any alter

[2022-01-19 18:00] archigup commented on #1782
Hi, if you would like a callback based API, you could use the newer [coreMQTT](https://github.com/FreeRTOS/coreMQTT) library with the [coreMQTT-Agent](https://github.com/FreeRTOS/coreMQTT-Agent). The coreMQTT Agent provides an API that uses callbacks like you describe.

[2022-01-20 00:29] MaazSk commented on #1782
Okay,

I will give it a try and if I have any issue will let you know

Thank you!

[2022-01-20 00:29] #1782 closed

[2022-01-24 09:57] itwondersteam opened #1783 "Unable to run fleet provisioning demo"
We are able to run the fleet provisioning using the python script [fleetprovisioning.py](https://raw.githubusercontent.com/aws/aws-iot-device-sdk-python-v2/main/samples/fleetprovisioning.py) but unable to do so with the embedded-C demo

Below are the command used (xxx to replace some info)
[code]

Output
[code]

For Embedded C SDK Fleet Provisioning Demo
[code]

Output
[code]

Not sure if we have

[2022-01-24 19:13] johnrhen commented on #1783
We're looking into this issue. Could you modify the ["LIBRARY_LOG_LEVEL" in demo_config.h](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/fleet_provisioning/fleet_provisioning_with_csr/demo_config.h#L44-L46) to be "LOG_DEBUG", do the same to the log level in [mbedtls_pkcs11_posix.h](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/platform/posix/transport/includ

[2022-01-24 19:16] johnrhen commented on #1783
Could you also set [MBEDTLS_DEBUG_LOG_LEVEL in mbedtls_pkcs11_posix.h](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/platform/posix/transport/include/mbedtls_pkcs11_posix.h#L88) to 3?

[2022-01-25 01:29] itwondersteam commented on #1783
Thanks for your reply! Here's the policy attached to the provisioning template

Formatted the policy into respective new line for easy reading  (xxx to replace sensitive info)
[code]

Below is the output after modifying the log level,
[code]

[2022-01-25 02:52] itwondersteam commented on #1783
In addition to above, the same cert tested with MQTT Agent demo and is able to get connected to MQTT broker

[code]

[2022-01-25 21:29] johnrhen commented on #1783
Which version of the CSDK are you using? Have you made any modifications to code in the CSDK (other than the ones you made to demo_config.h and the logging macros)? Could you also set MBEDTLS_DEBUG_LOG_LEVEL in mbedtls_pkcs11_posix.h to 4 and post the logs again? This seems to be an issue with mbedTLS, considering the MQTT mutual auth demo successfully connected. We're working on recreating your i

[2022-01-26 01:22] itwondersteam commented on #1783
This is a new repo cloned to try out this demo, so it's clean, except for the changed above + enable compiler option `-g` in CMakeLists. The last commit is currently on

`f367d0bca36f99e312906d9500526cab1b45110e  Update MbedTLS submodule pointer to v2.28.0`

The log after modifying the MBEDTLS_DEBUG_LOG_LEVEL to 4
[code]

Modified Policy. Now MQTT mutual auth demo can subscribe and publish success

[2022-01-26 05:54] vishalSpintly commented on #1772
Hi @paulbartell I could not check on this as i had to focus on another critical task that came up.
I am now back to working on this.
My plan is to start afresh, by generating a fresh test setup with the Linux OS and support tools on our development environment first.
I will document my steps and post my queries on this thread in my subsequent posts.

Look forward to your support.

[2022-01-27 19:37] johnrhen commented on #1783
Are you able to use Wireshark or another packet analyzer to determine if you're receiving any packets from AWS when you run the Fleet Provisioning demo? This could help us determine if the issue is on the cloud side or if it's with the mbedTLS module. In the meantime, we're continuing to try and recreate your issue.

[2022-01-28 10:22] itwondersteam commented on #1783
Captured a portion of the packet in screenshot.

<img src="https://i.imgur.com/iUAu5bq.png" title="source: imgur.com" />

[2022-01-28 20:08] johnrhen commented on #1783
I've applied a fix - it seems that we had a [low transport timeout in the Fleet Provisioning demo](https://github.com/aws/aws-iot-device-sdk-embedded-C/pull/1784), so on networks with higher ping the demo would fail. Can you confirm that switching to the latest commit resolves your issue?

[2022-01-31 01:15] itwondersteam commented on #1783
@johnrhen Yap, latest commit fixes the issue flawlessly!

[2022-01-31 01:15] #1783 closed

[2022-02-07 21:15] AnamikaPaul commented on #85
I am having same issue ,please help

make[2]: Leaving directory '/opt/nvidia/deepstream/deepstream-6.0/sources/libs/aws_protocol_adaptor/aws-iot-sdk/external_libs/mbedTLS/mbedtls/tests'
make[2]: Entering directory '/opt/nvidia/deepstream/deepstream-6.0/sources/libs/aws_protocol_adaptor/aws-iot-sdk/external_libs/mbedTLS/mbedtls'
make[2]: Leaving directory '/opt/nvidia/deepstream/deepstream-6.0/sour

[2022-02-22 17:16] Hemanth826-dev opened #1787 "How to run OTA update application on linux"
Hi Sir/Madam,

I'm new to this domain, and i want to run the ota updates on linux. I tried to schedule a FreeRTOS OTA Updatejob for running the demo application in the sdk on linux. I first changed the application version from 0.9.2 to 0.9.3 and built it and uploaded the binary file in s3 bucket, then changed it back to 0.9.2 and built the application and ran it. The application was able to reciev

[2022-02-22 20:58] n9wxu commented on #1787
It appears that the signing certificates are not installed in the demo application.  Make sure that the certificate used to sign the uploaded image are also referenced in the demo either by copying the certificate into the source code (highly discouraged in production) or by referencing the file to load.
https://docs.aws.amazon.com/freertos/latest/userguide/ota-code-sign-cert-win.html
https://docs

[2022-02-23 14:27] readysteadygo2006 opened #1788 "How would I get the IPV4 address of a device within the Mutual Auth demo example"
Hi,

I'm building an application using the AWS SDK Mutual Auth demo as a starting point.

I want to get the IPV4 address of the device.

Normally I could use code such shown below to get the IP:
[code]

However in the context of the demo example how do I initialize netif?

Thanks for any help you can provide!

[2022-02-23 17:11] Hemanth826-dev commented on #1787
Could you please tell me where i should install the certificate in application, since i didn't find it in both the config files demo_config.h and ota_config.h.

[2022-02-23 22:33] tianmc1 commented on #1787
Hi @Hemanth826-dev ,
The certificate can be put at put [here](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/5da3a389cda566469ee5d79142961d30461ea570/platform/posix/ota_pal/source/ota_pal_posix.c#L56) ota_pal_posix.c. Please let us know if this works.

[2022-02-24 00:27] tianmc1 commented on #1788
Hi @readysteadygo2006 ,

The demos in aws-iot-device-sdk-embedded-C runs on a POSIX machine (e.g. a laptop). Therefore the ESP specific code does not apply here. If you are running the demo on Linux, you can use [getifaddrs](https://man7.org/linux/man-pages/man3/getifaddrs.3.html) to get information including IP address on the network interfaces. If the code is later used on a FreeRTOS embedded de

[2022-02-25 00:00] tianmc1 commented on #1787
When running OTA on a real embedded device, the activation step would reset the device to boot into the newly downloaded image. This is not feasible on the POSIX port, so the "activateNewImage returned error: Manual reset required" error message is expected in this case. What error did you encounter when you run the downloaded binary?

[2022-02-25 06:39] Hemanth826-dev commented on #1787
Hi @tianmc1

The downloaded binary file did not have the executable permission, so i was not able to execute. After changing the permissions manually i was able to run the downloaded binary file. Thankyou for your help.

Thankyou,
Hemanth

[2022-03-04 09:57] Coffeeye opened #1790 "AWS disconnects after every 15 minutes since reconnect."
Answer to similar problem didnt help with the issue.
_Originally posted by @asweeney99 in https://github.com/aws/aws-iot-device-sdk-embedded-C/issues/161#issuecomment-465559185_

the problem that arises for me is deceptively similar to the one with which the previous speakers struggle... but the remedy for their problems did not work for me

I tried to change the payloadLen values ​​to different b

[2022-03-14 07:33] aggarg commented on #1790
Which version of SDK are you using? Can you try with the latest version and see if you still face this issue?

[2022-03-14 07:52] #1788 closed

[2022-03-14 07:54] #1787 closed

[2022-03-14 08:53] Coffeeye commented on #1790
Iam check'd out at d1417908

[2022-03-14 13:17] Hemanth826-dev opened #1791 "Device defender demo application is not connecting to iot core"
Hi,
 I tried to run the device defender demo application by providing the required certificates but it showing tls handshake failed.

[INFO] [DEFENDER_DEMO] [defender_demo.c:640] Establishing MQTT session...
[ERROR] [Transport_OpenSSL_Sockets] [openssl_posix.c:325] fopen failed to find the root CA certificate file: ROOT_CA_PATH=certificates/AmazonRootCA1.crt.
[ERROR] [Transport_OpenSSL_Sockets] [o

[2022-03-14 18:55] aggarg commented on #1791
Which folder have you stored the file? can you share your file tree?

[2022-03-14 19:02] aggarg commented on #1790
Is there a reason for not using the latest version?

[2022-03-15 04:56] Hemanth826-dev commented on #1791
I have stored the certificates in /aws-iot-device-sdk-embedded-c/demos/certificates folder.
I have provided the path in Demo_config.h as
#ifndef ROOT_CA_CERT_PATH
    #define ROOT_CA_CERT_PATH    "certificates/AmazonRootCA1.crt"
#endif
 #define CLIENT_CERT_PATH    "certificates/device.pem.crt"
#define CLIENT_PRIVATE_KEY_PATH    "certificates/private.pem.key"

In root directory i created a build fo

[2022-03-16 18:15] aggarg commented on #1791
Here are my content of the `demos/certificates/` directory:

[code]

Here are the commands I executed:
[code]

Here is the output:
[code]

Can you check what are you doing differently?

[2022-03-17 07:39] Hemanth826-dev commented on #1791
Even followed the same process. Can you please give some details on how you mentioned the path of the certificates, because i am again facing the same issue. Is there anything else that i have to do other than configuring endpoint, certificates and thing name.

/aws-iot-device-sdk-embedded-c/build/bin$ ./defender_demo
[INFO] [DEFENDER_DEMO] [defender_demo.c:640] Establishing MQTT session...
[ERROR

[2022-03-17 08:23] aggarg commented on #1791
The error is different this time - it is not file not found. How did you create your certificate and key?

[2022-03-17 09:33] aggarg commented on #1791
Increase the log level to debug - https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/defender/defender_demo_json/demo_config.h#L45

Also, can you verify your cert and key using mosquitto client?

[2022-03-18 06:34] Hemanth826-dev commented on #1791
Yes mqtt_demo_mutual_auth is running fine and it is abble to publish and subscribe messages.

$ ls demos/certificates
AmazonRootCA1.crt  device.pem.crt  private.pem.key

$ git diff

diff --git a/demos/defender/defender_demo_json/demo_config.h b/demos/defender/defender_demo_json/demo_config.h
index 9e26ae00..3d77a985 100644
--- a/demos/defender/defender_demo_json/demo_config.h
+++ b/demos/defender/

[2022-03-21 04:48] Hemanth826-dev commented on #1791
This is the policy document .

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "iot:Connect",
      "Resource": "*"
    },
    {
      "Effect": "Allow",
      "Action": "iot:Publish",
      "Resource": "*"
    },
    {
      "Effect": "Allow",
      "Action": "iot:Receive",
      "Resource": "*"
    },
    {
      "Effect": "Allow",
      "Action": "io

[2022-03-21 07:26] aggarg commented on #1791
Change [this line](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/platform/posix/transport/include/openssl_posix.h#L45) to the following and share output:

[code]

Also, just for testing can you change the policy to the following (**DO NOT DO THIS IN PRODUCTION**):

[code]

[2022-03-21 12:37] Hemanth826-dev commented on #1791
After changing the log level to LOG_DEBUG this is the output i got. I even changed the policy document to what you have told.

  [INFO] [DEFENDER_DEMO] [defender_demo.c:595] Establishing MQTT session...
  [DEBUG] [DEFENDER_DEMO] [mqtt_operations.c:408] Establishing a TLS session to a140ax8j255ia-ats.iot.us-east-1.amazonaws.com:8883.
  [DEBUG] [Transport_OpenSSL_Sockets] [openssl_posix.c:189] Attem

[2022-03-21 17:45] aggarg commented on #1791
At this point, we need to run WireShark to capture traffic to find out the reason of handshake failure. Can you do that please?

[2022-03-23 10:34] linsijia1002 opened #1792 "compile fail"
![image](https://user-images.githubusercontent.com/17610352/159680101-88cf5377-d11e-428a-b727-41f76ed5fbf7.png)

please tell me why it compile fail, thank u  :)

[2022-03-23 11:10] Coffeeye commented on #1790
Just realised espressif framework using a fork of this project which is year behind with commits at their side. Do you think this might be an issue?

[2022-03-23 16:33] pvyawaha commented on #1792
Hello @linsijia1002 ,

Are you using any release or main branch ? I will try to reproduce it on main branch and share update here.

[2022-03-23 16:57] aggarg commented on #1790
Yes - the commit you mentioned is from a very old version and that is why I asked you to try out the latest version. Depending on what libraries you need, this can be a good starting point - https://github.com/FreeRTOS/Labs-Project-Espressif-Demos

[2022-03-24 07:42] linsijia1002 commented on #1792
yes， i am in main branch.

[2022-03-25 02:42] linsijia1002 commented on #1792
@[pvyawaha](https://github.com/pvyawaha) hello
Is there something wrong with my compilation environment? I always think there is something wrong with my OpenSSL library. Can you give me an analysis direction

[2022-03-25 08:21] sumanclimote opened #1793 "Connectivity preference"
Does the SDK have a means of have multiple RF connectivity for data routing and means to choose the best suitable one if the performance is degraded?

I mean if we have WIFI and GPRS connectivity, do we have a means to choose WIFI as default if there is a performance issue the IOT core shall choose to alternative communication channel till the first (preferred) channel is performing better.

[2022-03-26 00:56] alfred2g commented on #1793
I Don’t see any baked in functionality to do what you want.  you could create you own custom sockets transport layer which tracks performance,  periodically checking if session should switch to GPRS/wifi based on whatever criteria.
Or you could just have two sockets open simultaneously but you’d have to avoid namespace collisions.

[2022-03-26 04:00] linsijia1002 opened #1794 "build fail"
![image](https://user-images.githubusercontent.com/17610352/160223943-136bafd4-7cc3-4562-a312-31067907cd4f.png)

Could you please help me to check the cause of compilation failure, thanks

[2022-03-28 22:36] alfred2g commented on #1794
On some systems cc is a symbolic link to gcc, clang, or some other compiler
what you can try is to define CC as an env variable, and/or create a link cc -> gcc
export CC=/path/to/gcc
ln -s /usr/bin/cc /path/to/gcc

[2022-03-29 17:40] #1793 closed

[2022-03-30 07:03] sumanclimote commented on #1793
Thanks for sharing it.

[2022-03-30 20:24] taka-shirasu opened #1795 "aws_iot_mqtt_attempt_reconnect() only fails for subsribe after 2nd reconnection."
I use the manual reconnect for the MQTT service when the Wi-Fi gets reconnected. I noticed that "subscribe" will stop working after the 2nd reconnection onwards but this is not the case for "publish" and also for the 2nd reconnection. Is this a feature on the AWS IoT Core side or a bug on the AWS SDK kit?

[2022-03-30 20:26] taka-shirasu commented on #1795
https://docs.google.com/document/d/1PfqNQNrrz0z_zbLjRPhGYh1IT4QjtDhEzknMuQX_UGg/edit?usp=sharing
Here are some screenshots.

[2022-03-31 22:14] jasonpcarroll commented on #1795
Hi @taka-shirasu,
Thank you for reaching out. Could you let me know what version/commit ID you are using?
Best,
Jason

[2022-04-04 03:26] linsijia1002 commented on #1794
It's done, thank you~

[2022-04-04 03:26] #1794 closed

[2022-04-04 04:21] linsijia1002 opened #1796 "how to cross compiling on my arm platform"
hi :
So far I have compiled successfully on ubuntu18.04, and then I want to compile on the arm Linux platform.
How should I configure it?
My cross-compilation tool is shown in the following image:
![image](https://user-images.githubusercontent.com/17610352/161473290-70f0290e-51b3-4101-a506-a07d8b7adb19.png)

Please help me solve it, the sooner the better, thank you very much!!

[2022-04-05 17:45] jasonpcarroll commented on #1792
Hi @linsijia1002,
Sorry for the very late reply. Are you still having this issue?
Best,
Jason

[2022-04-05 17:59] jasonpcarroll commented on #1796
Hi @linsijia1002,
Sorry for the late reply. Since this repo utilizes the CMAKE build tool - refer to https://cmake.org/cmake/help/book/mastering-cmake/chapter/Cross%20Compiling%20With%20CMake.html to cross-compile.
Best,
Jason

[2022-04-06 08:30] lcycoding opened #1797 "Replace mbedTLS with OpenSSL in fleet provision demo"
Dear AWS developers,

I was developing with fleet provision demo recently, and noticed that the connection library using mbedTLS.
Wondering if mbedTLS could be replaced by OpenSSL like the other demo?
If so, how do we adapt the cmake config or is there any recommendation steps that we could do?

Best,

[2022-04-06 23:23] archigup commented on #1796
In order to cross-compile for another platform using CMake, you will need a sysroot and a cmake toolchain file.

You could obtain a sysroot by setting up an arm linux system with the required dependencies and copying its root filesystem for use as your sysroot. Then can follow the prior linked documentation to write a toolchain file.

[2022-04-07 00:43] archigup commented on #1796
For example here is a sample toolchain file for compiling for an armv7 target:
[code]
update the sysroot to where you have copied the root filesystem of the target.

[2022-04-07 01:13] archigup commented on #1797
In the fleet provisioning demo, [mqtt_operations.c](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/fleet_provisioning/fleet_provisioning_with_csr/mqtt_operations.c) would have to be updated to use OpenSSL instead of mbedTLS. This can be done by following code in other demos using OpenSSL. If this is done, the demo will use OpenSSL for connecting.

However, it will still requi

[2022-04-08 17:03] #1796 closed

[2022-04-08 17:04] #1797 closed

[2022-04-09 06:14] pragnesh036 commented on #1614
hello, sir in our above conversation when we change the clientSessionPresent flag my device is working but it is a temporary solution after a long time of testing we got the same error.

`[INFO] [DEMO] [mqtt_demo_mutual_auth.c:2018] Creating an MQTT connection to a1386xddr5x240-ats.iot.ap-south-1.amazonaws.com.

CLIENT_IDENTIFIER = 002F00333139511238313636

[INFO] [MQTT] [core_mqtt.c:885] Packet r

[2022-04-11 17:10] archigup commented on #1792
Closing this issue; feel free to reopen if you are still facing this issue.

[2022-04-11 17:10] #1792 closed

[2022-04-11 22:46] archigup commented on #1614
Hi, do you have the version of coreMQTT you are using? Also would you be able to some code that can reproduce this?

[2022-04-12 06:28] pragnesh036 commented on #1614
hello, sir thank you for your reply

My coreMQTT version is  v1.1.0.

Sorry, I  tried to reproduce but this error code was generated randomly.
Our 4 devices running with this same code. but this error comes randomly at any device.

[2022-04-25 02:17] Zevolusion opened #1799 "Cross-compiling on a T31 Board"
I try to cross-compiling on a T31 Board. But it occured error, seems like rt library could not compile.
How can I fix this?
![image](https://user-images.githubusercontent.com/16457119/165009910-6d801003-6e45-41e5-a874-7679f83d66b3.png)

[2022-04-25 19:18] paulbartell commented on #1799
@Zevolusion : could you share a bit more info about what arguments you've passed into cmake?

librt is located using the cmake [find_library](https://cmake.org/cmake/help/latest/command/find_library.html) function. you'll need to make sure the librt .so object is available in your cross compilation environment.

libRT is only required for a few other demos (listed below). So It may not be necessar

[2022-04-25 19:35] paulbartell commented on #1614
@pragnesh036 : Do you have any updates on this?

It is hard for us to assist you in debugging this without more information about how you are calling the coremqtt api.

[2022-04-26 02:32] rinkuwithsingh1 opened #1800 "SHADOW_ACK_TIMEOUT in response to shadow update via aws_iot_shadow_update"
Hi,

Looks like whenever our device is updating the shadow via AWS IOT Embedded C SDK library's aws_iot_shadow_update() API, the callback always returning SHADOW_ACK_TIMEOUT error.
All other devices on the same firmware and on the same wifi network are working fine.
Se because of this callback timeout error, the device firmware is always trying to update the shadow in the cloud continuously. We al

[2022-04-26 09:29] Zevolusion commented on #1799
My complier is mips-gcc472-glibc216-32bit-r2.3.3.
And I try another branch which is v4_beta_deprecated, it occurs same error:
![image](https://user-images.githubusercontent.com/16457119/165248429-1bc2dcdd-34c5-412d-92a1-131f342633e3.png)

[2022-04-27 17:59] paulbartell commented on #1799
@Zevolusion : For cmake to be able to find the librt library, it needs to know where to look. You can approach this in a couple different ways:

* build and use a [cmake toolchain file](https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html) with all of the relevant paths defined... Something like this:
[code]
and then pass -DCMAKE_TOOLCHAIN_FILE=/path/to/mips-toolchain.cmake

* define

[2022-04-27 18:08] SaiTeja1898 commented on #1614
Hi, I want to use this SDK for building my application with AWS. Is any RTOS required for using this as I want to use it for low-end MCU (around 256KB ROM).

[2022-04-27 22:52] johnrhen commented on #1800
Thanks for reaching out - we're looking into this issue. What version of the SDK are you using?

Can you provide more information about the device? You mentioned that other devices with the same firmware and on the same wifi network are working fine - are these devices identical?

Additionally, if you could post your logs which contain the error (and remove any private information), that would hel

[2022-04-29 14:48] mikerharris opened #1801 "Device authentication for S3 bucket upload"
Hello,

I recently had some help from AWS support for an issue where my device is trying to upload a file to an S3 bucket.  For my device to upload a file it needs to authenticate itself with the IoT Core to be able to send a file to an S3 bucket.

My device uses a Role Alias to allow permission to access an S3 bucket.  I was informed that it was only possible to do this by implementing the authen

[2022-04-29 20:10] johnrhen commented on #1801
Hello Mike,

I've updated the your issue to remove the credentials. The secrets were already expired, but you should be careful to not post them again.

We're looking into your situation. Have you investigated the [S3 Upload demo](https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/demos/http/http_demo_s3_upload)? It utilizes pre-signed URLs for device authentication.

[2022-05-05 05:46] Zevolusion commented on #1799
It works, Thanks! @paulbartell

[2022-05-05 09:03] Zevolusion opened #1802 "How to use mbedtls"
If I using main branch, how to switch openssl to mbedtls? @butlerpaul

[2022-05-06 21:38] dachalco commented on #1802
Hi @Zevolusion

Are you looking to build the demos with mbedtls or a separate project with mbedtls?

These stacks are in the platform layer so they can be swapped. There's a [porting guide](https://github.com/aws/aws-iot-device-sdk-embedded-C#porting-guide-for-20200900-and-newer-releases) giving all the details behind platform code. There's also existing mbedtls+corePKCS11 platform code you may [r

[2022-05-07 07:30] Zevolusion commented on #1802
Thanks @dachalco
1. I try to build the demo with mbedtls first. What arguments should passed into cmake? Or should modify the CMakeLists?
2. What did u mean a separate project?

[2022-05-10 12:07] avrono opened #1803 "mqtt_demo_mutual_auth SSL_Read failed"
I have built the embedded c SDK on a Raspberry Pi Zero W running Raspberry Pi OS Lite

I keep getting the below error , I have run open SSL client
`
openssl s_client -connect xxx-ats.iot.us-west-2.amazonaws.com:8883 -CAfile ~/certs/root-CA.crt -cert ~/certs/AvronPiZeroW-1.cert.pem -key ~/certs/AvronPiZeroW-1.private.key
`
which Verifies OK

I also tried using the Mosquito_pub which fails to connec

[2022-05-11 10:22] avrono commented on #1803
Turns out this was an issue with Policies.

[2022-05-11 10:22] #1803 closed

[2022-05-13 20:45] JustinBerger opened #1804 "Error trying to run shadow_demo_main"
Running on ubuntu inside wsl2 inside windows 11, just in case it matters.

[code]

running shadow_demo_main (after realizing I got THING_NAME wrong the first pass)
[code]

Got an open policy set up.
[code]

Just not sure from documentation what to check next.

Activity report in console lists the disconnect with: `"disconnectReason": "CLIENT_ERROR",`

[2022-05-17 20:05] JustinBerger commented on #1804
1. Certificate is attached.
2. Definitely a policy issue. I'll play around more and see if I can figure out what I'm doing wrong. Did manage to find the failures in the IoT logs in CloudWatch.

I wish the error message you got back from the library gave any kind of indication what was wrong, would greatly help tracking it down.

[2022-05-17 20:05] #1804 closed

[2022-05-19 00:04] twlawrenceko opened #1805 "Client disconnects due to PINGREQ not running"
Hello,

We are using the example code from [here](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/shadow/shadow_demo_main/shadow_demo_main.c#L890)  and with the removal of [            returnStatus = DisconnectMqttSession();](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/5da3a389cda566469ee5d79142961d30461ea570/demos/shadow/shadow_demo_main/shadow_demo_main.c#L890)

[2022-05-23 04:58] tritrantdt opened #1806 "Attempting a TLS connection to a3uvulybovep9z-ats.iot.us-west-2.amazonaws.com:8883"
ommiting target configuration...
[ DEBUG ] TX: b'conf set time_hwm 1653281746\r\n' (_send_cmd) (provision.py:_send_cmd)
[ DEBUG ] RX: b'\r\x1b[K<INF>  2577380 [MQTTAgent ] Attempting a TLS connection to a3uvulybovep9z-ats.iot.us-west-2.amazonaws.com:8883. (mqtt_agent_task.c:1101)\r\n' (_send_cmd) (provision.py:_send_cmd)
Traceback (most recent call last):
  File "C:\iot-reference-stm32u5\tools\pro

[2022-05-24 15:41] n9wxu commented on #1806
Have you configured the certificate and private key with values linked to this endpoint?
Have you added the Amazon root ca to your device so the endpoint tls can be validated by your device?

[2022-05-27 00:10] ravibhagavandas commented on #1805
Hello,
Apologies for delay in response.
To keep the connection alive we need to send PINGREQ at regular intervals defined by keep alive timeout. To send keep alive packets you can either call
1. [MQTT_ProcessLoop](https://aws.github.io/aws-iot-device-sdk-embedded-C/202108.00/libraries/standard/coreMQTT/docs/doxygen/output/html/mqtt_processloop_function.html) which will handle PINGREQ as well as re

[2022-05-31 23:44] paulbartell commented on #1806
Github Issue were not enabled for the iot-reference-stm32u5 repository. I've now enabled them.

@tritrantdt : As a temporary workaround you may do either of the following:
1. Erase the external NOR flash with STM32CubeProgrammer **OR**
2. Set an invalid wifi ssid via the serial console (putty, terraterm, screen, or similar), reset, then re-run provision.py.

[code]

[2022-06-03 11:04] aggarg commented on #1806
I am closing this issue. Please feel free to reopen or create a new one if you still face any issue.

[2022-06-03 11:04] #1806 closed

[2022-06-14 18:20] johnrhen commented on #1801
Closing due to inactivity. Please re-open if you have any further questions.

[2022-06-14 18:20] #1801 closed

[2022-06-14 18:32] manav-eheat opened #1807 "Fleet provisioning library compilation issues"
We are trying to implement the Fleet provisioning using the following reference
https://github.com/aws/aws-iot-device-sdk-embedded-C/tree/main/demos/fleet_provisioning/fleet_provisioning_with_csr
We are facing many compilation errors (attached). Please help providing the package and libraries which are built completely for Fleet provisioning for embedded-C SDK.
thanks,
eHeat

[2022-06-15 17:22] #1799 closed

[2022-06-15 19:04] paulbartell commented on #1750
Closing this issue due to inactivity.

[2022-06-15 19:04] #1750 closed

[2022-06-20 10:34] avrono opened #1808 "jobs demo mosquito unable to execute job"
running the jobs_mosquitto_demo application. The application fails with `missing url` despite following for example the instructions here

https://docs.aws.amazon.com/iot/latest/developerguide/iot-dc-runjobs-prepare-define.html

Believe I have the correct Policy as described here https://docs.aws.amazon.com/iot/latest/developerguide/basic-jobs-example.html

Please advise ....

[2022-06-21 09:31] aggarg commented on #1790
I am closing this issue. Feel free to re-open or create a new one if you still face any issue.

[2022-06-21 09:31] #1790 closed

[2022-06-21 15:29] jasonpcarroll commented on #1807
Hi @manav-eheat,
Sorry for the late reply. I do not see your attached logs. If you could please re-attach or just past them here - I will look into this issue.
Best,
Jason Carroll

[2022-06-22 08:03] avrono commented on #1808
Hi Jason,

I am using `202108.00`

Also note that I tried the job client in the `aws-iot-device-client` repo (C++ SDK) and that works as expected.

`
jobs_demo_mosquitto: Connecting to xxxxxx-ats.iot.eu-west-2.amazonaws.com, port 8883.
jobs_demo_mosquitto: Client AvronMac-2 sending CONNECT
jobs_demo_mosquitto: Client AvronMac-2 received CONNACK (0)
jobs_demo_mosquitto: Client AvronMac-2 sending SU

[2022-06-27 13:23] avrono commented on #1808
@jasonpcarroll any word on this ?

[2022-06-28 18:34] paulbartell commented on #1807
@manav-eheat : For Espressif platforms, we recommend using the [esp-aws-iot component](https://github.com/espressif/esp-aws-iot) which contains many of the same libraries used in this repository.

You may also reference our [esp32c3 reference integration](https://github.com/FreeRTOS/iot-reference-esp32c3) for some setup guidance. Most of it should be applicable to other SoCs from Espressif.

Regar

[2022-06-28 18:34] #1807 closed

[2022-06-29 00:20] paulbartell commented on #1808
@avrono : My apologies for the delayed reply to your inquiry.

The best reference material for the jobs_mosquitto demo is the [IoT C-SDK documentation](https://aws.github.io/aws-iot-device-sdk-embedded-C/202108.00/docs/doxygen/output/html/jobs_demo.html) page detailing it.

While AWS IoT Jobs in general are not required to have a _url_ parameter, this particular demo expects the _url_ parameter to

[2022-06-29 00:20] #1808 closed

[2022-07-01 04:11] ClaudioBaldo commented on #1802
we are trying to compile the library for a yocto device which only supports openssl 1.0.2, would you have any example which just use mbdetls? As the "..._simple_tls" still implements and rely on openssl.

/* OpenSSL sockets transport implementation. */
#include "openssl_posix.h"

[2022-07-07 16:44] stewartsmith commented on #1750
On Amazon Linux 2, `openssl-devel` and `openssl11-devel` conflict intentionally. This is so that whatever your building against doesn't need modification to work out which OpenSSL version it's building against, and instead you just pick which development headers you have installed.

this does mean that if you need to build multiple things, and some of them against 1.0.2 and some of them against 1.

[2022-07-13 08:02] ClaudioBaldo commented on #1802
we are trying to compile the library for a yocto device which only supports openssl 1.0.2, would you have any example which just use mbdetls? As the "..._simple_tls" still implements and rely on openssl.

/* OpenSSL sockets transport implementation. */
#include "openssl_posix.h"

I understand the "porting" idea but I thought the whole point of having examples from aws team was to avoid user from "

[2022-07-14 08:28] ClaudioBaldo opened #1811 "problems with setting up mbdetls as transport layer"
We have tried to port the demo application but the connection is nor working and we get an error for invalid handler due to invalid certificates:
mqttClientAws.c connectToServerWithBackoffRetries() 640 | rootCA /AmazonRootCA1.pem
mqttClientAws.c connectToServerWithBackoffRetries() 641 | clientCRT  /xxxxxxx-certificate.pem.crt
mqttClientAws.c connectToServerWithBackoffRetries() 642 | clientKey  /xx

[2022-07-17 03:45] ClaudioBaldo commented on #1811
we have solved the problem with initialising the the mbedtls with using a different template based on mbedtls, so we have less things to port.
It seem that we can connect to the backend with the Mqtt_init function but when we try with the Mqtt_Connect this will fail after the timeout period with "MQTTNoDataAvailable".

rootCA /home/root//home/root/AmazonRootCA1.pem
clientCRT /home/root/certificate

[2022-07-18 16:25] alfred2g commented on #1811
Hello,
We are taking a look at the issue, will get back to you shortly

[2022-07-18 23:50] alfred2g commented on #1811
Hello,
I heard from some team members who faced the same issue (or almost) that there is a bug with embedtls that required rebooting/re-initializing after importing a key

[2022-07-19 00:14] ClaudioBaldo commented on #1811
do
    {
        /* Initialize the buffer lengths to their max lengths. */

        /* Initialize the PKCS #11 module */
        pkcs11ret = xInitializePkcs11Session( &p11Session );

        if( pkcs11ret != CKR_OK )
        {
            LogError( ( "Failed to initialize PKCS #11." ) );
            status = false;
        }
        else
        {
            /* Insert the claim credentials into t

[2022-07-19 01:00] ClaudioBaldo commented on #1811
we can`t re-initialize the handler or it will fail saying this was already initialized, if you could clarify what needs to be re-initialized and at what point in the code, thanks.

[2022-07-19 01:29] alfred2g commented on #1811
We will try to reproduce your use case with our fleet provisioning demo today, and we will post an update
thanks!

[2022-07-20 20:05] alfred2g commented on #1811
Hello sorry for the delay,
which demo setup were you following ?

We tried this one:  https://aws.github.io/aws-iot-device-sdk-embedded-C/202108.00/docs/doxygen/output/html/fleet_provisioning_demo.html

and we had a different error
[code]
We will try with a different setup and update the case.

[2022-07-20 20:46] paulbartell commented on #1811
@ClaudioBaldo : I was able to successfully run the demo by using the script in this repository to setup the cloud side of things: https://github.com/FreeRTOS/FreeRTOS/tree/main/FreeRTOS-Plus/Demo/AWS/Fleet_Provisioning_Windows_Simulator/Fleet_Provisioning_With_CSR_Demo/DemoSetup . After updating democonfig.h with the relevant items, the fleet_provisioning_with_csr_demo completed successfully.

Whe

[2022-07-20 23:07] ClaudioBaldo commented on #1811
we have increased the log value for the logging of mbetls, this is what we see:
Jul 21 07:03:39 | mqttClientAws[7705] | [INFO] [Transport_MbedTLS_PKCS11] [mbedtls_pkcs11_posix.c:857] TLS Connection to a1ui4kt3m4uic8-ats.iot.ap-southeast-2.amazonaws.com established.^M
Jul 21 07:03:39  | mqttClientAws[7705] | [DEBUG] [MQTT] [mqtt_operations.c:651] Connected to MQTT broker a1ui4kt3m4uic8-ats.iot.ap-s

[2022-07-21 09:00] ClaudioBaldo commented on #1811
on this target we don`t have FreeRTOS but we have implemented all the mbedtls libraries from the repository and the code execute properly. Just to add it to the comments.

[2022-07-21 16:40] paulbartell commented on #1811
@ClaudioBaldo : Are you using a high latency connection ( LTE Cat NB1 perhaps? ).

If you adjust TRANSPORT_SEND_RECV_TIMEOUT_MS value to be 2-3 x the ping time to your aws iot endpoint, that should allow enough time to receive a response from the server.

Moving forward, consider setting the socket to non-blocking mode with mbedtls_net_set_nonblock() and use the mbedtls_net_poll() function to dete

[2022-07-21 22:19] ClaudioBaldo commented on #1811
@paulbartell I don`t think that is the problem, we can increase the value to 60s and still the socket will go in timeout, see the timestamp at the beginning of the line:
Jul 22 06:13:26 | mqttClientAws[2480] | [INFO] [Transport_MbedTLS_PKCS11] [mbedtls_pkcs11_posix.c:857] TLS Connection to a1ui4kt3m4uic8-ats.iot.ap-southeast-2.amazonaws.com established.^M
Jul 22 06:13:26 | mqttClientAws[2480] | [D

[2022-07-21 22:48] ClaudioBaldo commented on #1811
@paulbartell @alfred2g any idea why this is happening????

[2022-07-22 00:02] paulbartell commented on #1811
@ClaudioBaldo : Can you run your program with strace so we can see what syscalls are being generated during the read operation?

A packet capture may also be helpful if it's possible to capture one.

You might also try connecting via port 443 instead of 8883 in case there is some firewall restriction on your network. Make sure that the "x-amzn-mqtt-ca" alpn is enabled when using port 443.

Are you

[2022-07-22 00:05] ClaudioBaldo commented on #1811
yes, I do have the port opened on the firewall (443), see below, and I am using the 443 port with mqtt protocol:
Chain INPUT (policy ACCEPT)
target     prot opt source               destination
ACCEPT     udp  --  anywhere             anywhere             udp spt:ntp ctstate ESTABLISHED
ACCEPT     udp  --  anywhere             anywhere             udp spt:443 state ESTABLISHED
ACCEPT     tcp  --

[2022-07-22 00:08] paulbartell commented on #1811
@ClaudioBaldo:
[code]
Would indicate that you're connected via a udp socket. Mqtt operates over TCP.

[2022-07-22 00:12] ClaudioBaldo commented on #1811
would it work differently for the older sdk? As the setup is the same,we haven`t modified the firewall....
We have also tried to keep the firewall wide opened just for testing and with no diffence.

Mqtt_Init() does return success.
Mqtt_Connect() goes in timeout

Plus is the problem was the protocol, wouldn`t also the tls initial handshake fail?

[2022-07-22 00:17] ClaudioBaldo commented on #1811
also the following line should technically allow traffic for HTTPS over tcp which should be port 443

ACCEPT     tcp  --  anywhere             anywhere             tcp spt:https state ESTABLISHED

[2022-07-22 00:18] paulbartell commented on #1811
You're correct. This firewall rule is probably covering it.
[code]

is Server Name Indication enabled?

[2022-07-22 00:21] ClaudioBaldo commented on #1811
tlsCredentials.disableSni = false;
What we were wondering is the connectionInfo part and if this could cause the problem with the connection:
/* If #createCleanSession is true, start with a clean session
 * i.e. direct the MQTT broker to discard any previous session data.
 * If #createCleanSession is false, direct the broker to attempt to
 * reestablish a session which was already present. */
conn

[2022-07-22 00:27] paulbartell commented on #1811
How was your claim certificate and private key generated? Via an aws iot API call or some other method?

[2022-07-22 00:52] ClaudioBaldo commented on #1811
ok, so this solved the problem, I think the string was meant to be for openssl:
#define ALPN_PROTOCOL_NAME                       "\x0ex-amzn-mqtt-ca"
changed to remove the \x0e and the connection works.
#define ALPN_PROTOCOL_NAME                       "x-amzn-mqtt-ca"

Thank you for the help.

[2022-07-22 01:25] paulbartell commented on #1811
You're welcome. I will make sure to fix that definition in the rest of the locations it exists in.

[2022-07-22 01:25] #1811 closed

[2022-07-29 14:26] srnae05 opened #1813 "Callback to subscribe is not invoked"
Hi co-developers,

Using the AWS SDK with CC3220sf uC, it is possible to connect to AWS MQTT broker and also subscribe to topics in a named device shadow. However, when something is published to this topic via IOT Console, the callback on the device is not invoked. The device is still connected to the MQTT broker. Any clues ?

Thank you in advance.

[2022-07-29 23:03] dachalco commented on #1813
Hi @srnae05

I'm not sure I understand what the problem is. You are able to connect to AWS MQTT broker on your device, presumably using coreMQTT and shadow demo bundled with this repo, but are not getting callbacks on the device for shadow updates? Is that correct?

 Which topic are you publishing to with IoT console, and have you made changes to the MQTT subscriptions made in the demo? For shadow

[2022-08-01 05:46] srnae05 commented on #1813
Hi @dachalco,

Your statement "You are able to connect to AWS MQTT broker on your device, presumably using coreMQTT and shadow demo bundled with this repo, but are not getting callbacks on the device for shadow updates?" is correct.
I can see the connect messages and messages that the subscribe is successful in the Cloud Watch of AWS console. However, when I publish a message from AWS IoT console

[2022-08-01 16:11] aggarg commented on #1791
I am closing this one. Feel free to re-open or create a new one, if you still face any issue.

[2022-08-01 16:11] #1791 closed

[2022-08-01 17:25] dachalco commented on #1813
All the MQTT messages should route through [eventCallback](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/shadow/shadow_demo_main/shadow_demo_main.c#L559) in the demo and fan out from there, so you could put a breakpoint in this function or add a log to see if it's reached. Additionally you can enable debug logs for MQTT by setting `LIBRARY_LOG_LEVEL = LOG_DEBUG` in the shado

[2022-08-02 07:15] srnae05 commented on #1813
Hi @dachalco,
I tried some fixes in the mean time and the following seems to work.
A delay between connect and subscribe ensures that the event call back is always called.
The edge device uses 48MHz crystal as a clock, Is there a timing requirement between connect and subscribe messages to AWS ?

`eMqttStatus = MQTT_Connect( pxMqttContext,&xConnectInfo,
                                        NULL

[2022-08-03 09:42] Nomidia opened #1814 "Segmentation fault after OtaJobEventSelfTestFailed within 20s"
Steps to reproduce:
1. After downloading the firmware, the otaThread will exit.
2. Then restart the demo, it will in self test mode, and OtaSelfTestTimer will be created
3. Since the version number has not changed, OTA_Shutdown will be invoked
4. In shutdownHandler, otaAgent will be clear
5. After several seconds the OtaSelfTestTimer expires, otaAgent.pOtaInterface->pal.reset will cause segfaul

[

[2022-08-05 03:16] ravibhagavandas commented on #1802
I agree that we don't have all demos examples ported for all transport implementations. We will look into how best we can accommodate this to the demos. However you can look into functions `EstablishMqttSession` and `DisconnectMqttSession` in file  [mqtt_operations.c](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/fleet_provisioning/fleet_provisioning_with_csr/mqtt_operations

[2022-08-05 10:46] srnae05 commented on #1813
Hi @dachalco : Some more interesting findings are:
-  if an internal PLL is used and reduces the frequency to 24 MHz, sleep is not required.
- if 48MHz is the clock frequency, between every MQTT operation - connect and subscribe (or) subscribe and publish (or) ping and ping, a sleep is required.
Any thoughts on this yet ? Thank you.

[2022-08-05 17:03] dachalco commented on #1813
Hi @srnae05

Glad to learn you've found a solution.

Can't comment on exact timing figures because it depends on the architecture and port setup. However `EstablishMqttSession` should block such that an immediate subsequent SUB should work. Is the MCU port code for `connectToServerWithBackoffRetries` working appropriately? Perhaps the port has some async connect logic that returns early before con

[2022-08-07 19:05] ravibhagavandas commented on #1813
Hi @srnae05

In addition, could you also check if you are calling `MQTT_ProcessLoop()` at regular intervals so that you are processing all incoming messages. The shadow demo provided in this repository assumes the device as the publisher to the shadow document. It calls `MQTT_ProcessLoop` after every [publish](https://github.com/aws/aws-iot-device-sdk-embedded-C/blob/main/demos/shadow/shadow_demo_

[2022-08-09 17:25] ravibhagavandas commented on #1802
I will close the issue due to inactivity. Please open an issue if you still have questions.

[2022-08-09 17:25] #1802 closed

[2022-08-17 00:20] n9wxu commented on #1813
@srnae05 Were the suggestions helpful?  Have you been able to resolve the problem?

[2022-08-17 08:03] srnae05 commented on #1813
@dachalco @ravibhagavandas @n9wxu
Thank you for the hints. If I tried the sequence that @dachalco indicated, topic B also does not receive a payload. If there is a connect message, followed by a subscribe message without a sleep, any subscribe messages after are also not fulfilled. I checked the function connectToServerWithBackoffRetries for completeness of CONNECT status and this is the case. Sub

[2022-08-17 15:15] dachalco commented on #1813
Hi @srnae05

If you're using a modified version of the demo, would you be okay with sharing the non-platform-specific code? With this we could better analyze if there were some sort of library-level race condition and may allow us to repeat the issue on a different platform. If not, could you itemize all the changes you made?

Is `shadow_demo_main.c` still calling `MQTT_ProcessLoop`? `MQTT_Process